[2018-11-06 01:55] austintgriffith opened #1 "Detect Network"
Make sure injected web3 is on dai.poa.network and if it isn't throw up a big warning.

[2018-11-06 23:12] austintgriffith commented on #1
when it isn't on dai.poa.network, perhaps have a bridge ready to go? replicate this bridge as an off ramp when they are on dai.poa

[2018-11-06 23:13] austintgriffith commented on #1
provide hints on both sides for them to switch their network to go the other way

[2018-11-07 15:11] austintgriffith opened #2 "Confirm Burn"
Create a confirmation dialog when burning the key so you can be sure they really want trash the key forever.

[2018-11-07 15:12] austintgriffith opened #3 "Use BlockScout"
Normally you link to etherscan but that won't work for xdai.

[2018-11-07 20:04] austintgriffith opened #4 "Clean up React - create many components from monolithic single file"
Right now the src/App.js is one big file. Please apply React best practices and divide the large file into many, easy to use components.

The goal would be to make it much easier to read and update the code.

[2018-11-07 20:09] austintgriffith opened #5 "Style and Design"
The current design/UI is very ugly. It was a quick proof-of-concept. Please create and implement a gorgeous and intuitive design.

We want it to look great and work intuitively even in different languages.

This is a big task and will take a lot of thought and style.

[2018-11-07 20:10] #3 closed

[2018-11-07 20:10] #1 closed

[2018-11-07 20:14] austintgriffith opened #6 "Provide Educational Material"
We should have step by step guides (maybe even videos) that show how to:

1) fiat -> DAI
2) DAI -> xDai
**3) send xDai via scan
4) send xDai via message
5) send xDai via address
6) sweep funds to cold storage**
7) xDai -> DAI
8) DAI -> fiat
9) copy private key to meta mask
10) burn private key

[2018-11-07 20:19] austintgriffith opened #7 "Expired Message Sends need to automatically be withdrawn"
After a certain amount of time, value sent in messages over services like WeChat will expire.

When they expire the sender will need to withdraw them from the Links contract.

For ephemeral accounts, just withdraw them automatically, but for injected web3 accounts, provide a button to withdraw.

[2018-11-07 20:20] austintgriffith opened #8 "Audit Links Contract"
The Links contract provides an escrow for users to send value through messages using services like WeChat.

Since this contract will move and store value, it would be good to get some extra eyes on the contract.

Please help list possible bugs and attack vectors that may be critical to the launch of Burner Wallets.

https://github.com/austintgriffith/burner-wallet/blob/master/contracts/Links/Links

[2018-11-08 00:13] austintgriffith opened #9 "QR Code Scanner"
The current QR Code scanner doesn't work on a lot of different browsers.

In particular, Chrome and Firefox.

It would be awesome if we could find a scanner that worked on every browser on mobile and desktop.

[2018-11-08 00:24] austintgriffith opened #10 "Firefox Issues"
For some reason it fails right away in Firefox. It might have something to do with MetaMask being locked or on the wrong network, but we'll need to catch that. It might be in Dapparatus.

[2018-11-09 09:13] shailysangwan commented on #5
Hi, I have applied for this issue on Gitcoin but it seems like the corresponding comment from @gitcoinbot hasn't showed up here yet.

[2018-11-09 09:15] shailysangwan commented on #5
Hi, I have applied for this issue on Gitcoin but it seems like the corresponding comment from @gitcoinbot hasn't showed up here yet.

I'm planning on these lines -
Since the application is built in react, we can consider using a component library like Material UI or Blueprint JS.
I'll prepare a mockup in one of those, discuss improvements with @austintgriffith and complete the design accordingly.

[2018-11-09 15:15] joshpitzalis commented on #5
@shailysangwan if you need any help, let me know. I was considering taking this on but it looks like you're on it.

There is no need to use a component library. There are so few components you can write them custom.

I found 2 nice references that I thought would be good for the project
https://dribbble.com/shots/4134552-Masternode-Crypto-Coin-Wallet-Redesign
https://dribbble.com/shots/4134609-Pho

[2018-11-09 15:57] austintgriffith commented on #5
Thanks for the interest guys! I would love to see some mockups for how we can make this app look stunning. Please hit me up here, or on twitter/telegram @austingriffith with any questions.

If we have two mockups going in parallel I would be happy to reward that optionality with $25 DAI to the one we don't select just for a thank you for your efforts. It's important that this design be incredibly

[2018-11-09 16:46] blockchainbuddha commented on #10
Looking into this

[2018-11-09 17:04] blockchainbuddha opened #11 "Suggestion: add "save to home screen" button"
On Android/firefox it isn't obvous that user's should save to home screen. Its an important step in making everything fast, that I think should be made clear.

[2018-11-09 17:33] willsputra commented on #5
@austintgriffith I love the concept! Excited to see this being worked on ❤️

Just wanted to throw a couple of possible user questions worth thinking about regarding UX:
1. Can I only send DAI to the address? Can I send ETH? What happens if I send ETH?
2. Since 'Burn Private Key' is such a 'destructive' button, we might want to put a bit more description for the users on what the button actually do

[2018-11-09 18:16] joshpitzalis commented on #5
Didn't realise design and implementation were two separate bounties. The bounty description made it sound like the same gig. The comment above makes it sound like its two different jobs. I'ma  little confused. Either way here is a mock up of what I was thinking.

![xdai](https://user-images.githubusercontent.com/10258114/48280431-91050080-e479-11e8-951b-a77e45872a14.png)

[2018-11-09 21:00] figure8labs commented on #5
I'd like to throw my hat in the ring if I can be of use! I've been looking for a place to get started on this project.  If it's getting too crowded of course I'll find something else.  I also don't mind just brainstorming on design ideas.  I'll post something later : )

[2018-11-09 23:27] peter-boot opened #12 "QR code partially loads"
May be due to an under powered phone but QR code only partially loads on both Android Chrome & Brave browsers.  Phone HTC One, Android 5.0.2
![screenshot_2018-11-10-06-52-58](https://user-images.githubusercontent.com/753883/48293429-25e81800-e4d3-11e8-958c-1e998e92bb32.png)

[2018-11-10 22:20] catageek opened #13 "Signer may send a signature valid for both send() and claim()"
In send(), the signer signs bytes32 Id, but if the Id is chosen to be equal to keccak256(destination), then the data and signature are identical in send() and claim(): both refer to keccak256(destination) as data.

So the issue is how the Id is generated, and if it is controlled by a third-party, it can be set to a specifically crafted value of keccak256(address_attacker) and submitted to the sign

[2018-11-10 22:39] catageek opened #14 "The signature submitted in claim() can be reused multiple times"
The signature in claim() refers only to the destination address.

So, once a valid signature has been published for a specific destination, It can be reused to claim all the funds for any Id where funds[Id].signer is the same signer.

I am not sure that it is or not the intention of the developper, but we can have N send() from one signer, then 1 claim() with its signature and we can generate imme

[2018-11-10 22:55] catageek opened #15 "Id may be reused, and all transactions could be replayed to empty the signer account"
Once a fund is claimed, the fund[Id] entry is destroyed.

Anyone can replay the send() and claim() transactions using the same Id, especially the previous recipient. The old transactions will be valid for the reused Id.

The recipient can initiate a cycle of send() and withdraw() replaying the 2 first legitimate transactions and empty the signer account.

[2018-11-11 09:40] joshpitzalis commented on #5
@austintgriffith I'm guessing zero feedback on my initial sketch means you don't like it. Do I still get the 25 DAI for not being selected like you said?

[2018-11-11 15:42] austintgriffith commented on #5
Oh no! Sorry! Everything is all good. I've been staying away from Git for the weekend :)
I like the design but I'd like to see more too. I'm happy to send 25 USD for your efforts!
One thing to keep in mind is this is a mobile first app.
We should design it to look best on a phone and then expand it out to Desktop use.

[2018-11-11 18:05] drhus opened #16 "Instant exchange functionality"
an instant exchange, from any token sent to the address to xDAI would defiantly go far away, imagine a world where for a small things like "sharing the pizza or uber" you don't need to worry about tokens, exchange rate, addresses, just send to this address anything you have (or you wish) and it would exchange it to xDAI if the token you sent was recognized by the connected DEX, otherwise the walle

[2018-11-11 18:06] drhus opened #17 "Adding unit next to address"
It's not clear this address is for xDAI, it should be very clear that you need to send xDAI explicitly to this address not Ether not DAI.

[2018-11-11 18:10] drhus opened #18 "Reject // Auto-refund // Send-back functionality"
To allow for seamless recovery of lost token sent to xdai.io (burner wallet) It would be great to have sort of "Reject" // Auto-refund functionality, in another word if you send anything to this burner address but xDAI the smart contract would transfer it back to the sender within n hrs

On front end user shall be notified, he should see sort of notification with x fund/tokens received with error

[2018-11-11 18:16] drhus opened #19 "Adding: Request Funds functionality"
use case like pizza restaurant with friends I paid with my credit card, and then I could xdai.io >> request funds >> I enter the amount and possibly a message, and share the link on WhatsApp maybe? or by QR ..

ideally, that *request fund* shall generate a URL >> which if opened in web3 wallet would auto-populate the amount and receiver address, if not just QR code/Wallet address like:

xDAI:0x000

[2018-11-11 18:22] drhus opened #20 "Email Private key"
email private key (possibly JSON format encrypted with a password) is quite more useful and safer than copy private key, we all know browsers isn't reliable and you could be browsing intentionally or accidentally with incognito mode

Front-end: click on private key >> pop-up private key half hidden >> and three options below that
Show, Copy, and Email it

Users could be much more relaxed knowing h

[2018-11-11 18:23] drhus opened #21 "Burn Private key *warning message*"
Ideally check if balance != 0; show warning pop-up with the private key hidden, and three options below
Show, Copy, and Email

[2018-11-11 18:37] drhus opened #22 "*Burner wallet* and naming"
I personally like *Burner Wallet* name but I've learned the hard way to look at things through the eyes of the audience

the Q. is how "burner wallet" as a name would convey a user-friendly, seamless, trustworthy experience? do you wanna consider something else? maybe
* Web wallet
* Flat wallet, feeless wallet
* IO Wallet
* or Instant Wallet << my favorite

[2018-11-12 05:55] joshpitzalis commented on #5
Thanks @austintgriffith my address is 0xD9b74f73d933Fde459766f74400971B29B90c9d2

Here is a mobile example of the same:

![mobile](https://user-images.githubusercontent.com/10258114/48329051-e9e8ba80-e66c-11e8-90a4-5c01ff3acf46.png)

The plan is to adjust the QR code so that that screen always equals the height of the screen.

The UI is a little longer because it includes the alert, which would te

[2018-11-12 15:14] austintgriffith commented on #21
Currently, it won't let you burn a PK that protects more than $0.10 and there is an issue already open to add confirmation screen for the burn:
https://github.com/austintgriffith/burner-wallet/issues/2

[2018-11-12 15:14] #21 closed

[2018-11-12 15:17] austintgriffith commented on #22
This should be an open discussion and I'd love to hear more from the community.

The reason we chose "burner" was it is a little scary and that is the point.

We want the user to understand it is ephemeral and they should be a little bit afraid of that... understanding that they could lose the value backed by the PK.

[2018-11-12 15:18] austintgriffith commented on #19
Requesting funds with a link is a great idea. Would love to see someone build this out.

[2018-11-12 16:00] drhus commented on #16
as long as the app in control of PKs theoretically this is something doable _(how urgent/important is another question)_ the burner app with a listener would identify incoming token >> swap it through an API of an exchange as of keyber https://developer.kyber.network/docs/DappsGuide/

[2018-11-12 16:06] drhus commented on #22
w/ auto-refund #18 after a certain time elapsed the chances that the burner wallet would actually burn would approach zero :p

[2018-11-12 16:13] austintgriffith commented on #12
Can anyone else replicate this? I can't even figure out how to debug this! Would love some input from the community.

[2018-11-12 16:15] austintgriffith commented on #11
It would be awesome to have an "Add to Home Screen" button. I'm not sure you can do that natively, but even having in pop up an explainer page that detects platform and shows the correct buttons to push with easy to follow pictures.

[2018-11-12 16:23] austintgriffith commented on #5
Sorry for the long delay over the weekend. I've approved multiple designers and I'd like to get multiple designs pitched to this thread. There are new funders joining the project and it is very important that the product be both beautiful and intuitive. Having the optionality behind different designs will enable this. We will try to reward everyone accordingly for their work!

[2018-11-12 17:21] mkosowsk commented on #5
100 DAI from the ECF Web 3.0 Infrastructure Fund! Looking forward to the results :)

[2018-11-12 23:57] frankchen07 commented on #8
hey @austintgriffith, looks like there's some submissions to take a look at :)

[2018-11-13 05:47] aj07 commented on #9
@gitcoinbot on my dashboard, this issue is still pending.

[2018-11-13 14:19] blockchainbuddha commented on #22
- Temporary Wallet
- To-Go Wallet
- Go wallet
- On-the-go wallet
- Snap-wallet  :ok_hand:  "here and gone in a snap!"

[2018-11-13 14:37] austintgriffith commented on #9
It's all yours if you can solve it! Please try to close it if you can. Contact me directly if you need anything. @austingriffith on twitter/telegram

[2018-11-13 14:41] austintgriffith commented on #4
Hey! Would love to know if you were able to make progress on this? Should I reach out to the community for help or are you on it?

[2018-11-13 14:43] austintgriffith commented on #5
Lot's of funds for this issue! I'm very excited to see designs! Feel free to post early mockups here in github to gauge community reaction!

[2018-11-13 17:07] riusricardo commented on #14
I do not think it's a replay attack for the scope of this contract. It is a type of vault, so it is correct to have access to the funds where you are a signer.
My doubt is about what happens when it expires. It is not clear. Up to now it looks like it remains locked in the contract.

[2018-11-13 17:21] starkblaze01 commented on #5
@gitcoinbot, working on it.

[2018-11-13 17:22] riusricardo commented on #15
I get what you are saying and it is not how the contract is working. Even if the id is reused for a new claim (which I also think needs to be changed), it will remain as an invalid claim unless the claim has the same signer.

[2018-11-13 19:51] mattybgits commented on #5
Unfortunately I don't have a lot of coding experience but wanted to throw a design together. Most flows will be the same as the existing application.

- Minimal text so it can easily be translated
- Super simple

One thing we might want is a small explanation that can be easily translated for a couple of key things:

- The gist of what it is
- What burning does
- The xDia bridge

![MobileWebxDai](

[2018-11-13 20:01] mattybgits opened #24 "Simple and easily translatable descriptions of key features"
One thing we might want is a small explanation that can be easily translated for a couple of key things:

- Basic functionality
-- Temporary, do not store tokens long term in these wallets
-- Sending
-- How to receive
-- Safely storing funds (cold storage)
- What burning does
- What to do with a saved private key
- The xDia bridge

Explanations should be concise and the use of technical terms shou

[2018-11-13 22:55] austintgriffith commented on #5
Just updated the bounty so you can start work :)

[2018-11-13 22:58] figure8labs commented on #5
Whoa there's a lot of activity here, cool.  Sorry for the delay, this week was overwhelming, going to post later today!

[2018-11-14 02:07] austintgriffith opened #25 "Android 4.1 Browser"
![img_5246](https://user-images.githubusercontent.com/2653167/48455051-f5c0a380-e776-11e8-90e8-93024feee3ff.jpeg)

It's incredibly important that this wallet works on older browsers. QR code scanning and everything.

Specifically Android 4.1

Right now I got it working past the SSL part but it loads a blank page.

[2018-11-14 14:42] KayBeSee commented on #20
Dibs

[2018-11-14 16:57] austintgriffith commented on #5
Yes! Please post designs here! Even if you are unable to implement them into React we'd love to see your work. Perhaps we can split this into two bounties; one for design and one for implementation. If you are interested in getting started with implementation, checkout the starter guide I tweeted about:  https://twitter.com/austingriffith/status/1062488114948595713

[2018-11-14 19:41] catageek commented on #14
I confirm that there is a replay attack.
Let H be a holder and C be the claimer.

1. H calls send(id1, sig1) where sig1 has been signed by himself
2. H signs keccak256(address(C)) = **sig2** and publishes sig2 offline
3. Someone (C ?) calls Claim(id1, **sig2**, address(C))
4. if (sig1and sig2) are signed by H, then transfer(some ETH) to C

Later, H wants to reuse the wallet but to transfer funds t

[2018-11-14 19:57] catageek commented on #15
Ok I get it. you're right, reusing id is not a security issue.

[2018-11-14 20:41] seichris commented on #22
Crypto Cash wallet - Relating to cash might be best to describe the features of the wallet for a non-crypto user.

[2018-11-14 21:20] mattybgits commented on #5
Tidied it up. No idea what posting etiquette is on Github, tell me to cool my jets if I'm spamming. Starting on interactions now, aiming to have something up on InVision by Friday.

![V2](https://i.imgur.com/qZTcjPb.png)

[2018-11-14 22:05] lakamsani opened #26 "Unable to transfer from POA bridge to burner"
- I have an [account with  10 xDAI ](https://blockscout.com/poa/dai/address/0xd4f1a493787a29d38c216f592d4a1c84d89caad1/tokens)
- I have MetaMask 5.0.2 (on my mac book pro with macOS  Mojave 10.14.1, Chrome 70.0.3538.102) set to custom RPC of https://dai.poa.network
- Trying to transfer 9 xDAI to my burner address at 0x5D858916036b1B3D23de7978a30AC9829f86E688 never completes. See attached screensho

[2018-11-15 00:33] riusricardo commented on #14
Ok, I agree. It is a replay attack and a possible case for this contract. This contract should have similar mechanisms to an EOA. It should have a nonce that increases on every send transaction.

[2018-11-15 12:32] seichris commented on #5
Made a design, specifically to make it easy to use the wallet for a new user, without reading medium posts or watching videos- They are great, but I think a product should aim to explain itself.

The design guides the user through the [whole life circle](https://github.com/austintgriffith/burner-wallet/issues/6) of a xDai wallet.

Also I am giving the user the choice to switch between _sender_ and

[2018-11-15 12:33] seichris commented on #6
A first try at explaining the flow inside the app: https://github.com/austintgriffith/burner-wallet/issues/5#issuecomment-439024837

[2018-11-15 12:41] joshpitzalis commented on #5
@seichris This is cool.
I thought about adding new functionality to the app in my designs but then I wasn't sure if that was part of the brief. I wanted to add a tx history to my designs, I thought that would be useful. Persisting the data would be tricky, we have to add a db to the mix and then decide on an authentication strategy. We could just do local storage to try the feature out first thoug

[2018-11-15 13:12] seichris commented on #5
Also thought about keeping the code changes minimal - so i only added the switch on top and the feature to save the position.

You are right though. Maybe we can design a minimal one for the gitcoin issue and discuss advanced ones for advanced uses.

[2018-11-15 20:17] jakerockland commented on #5
@seichris This design is really nice, very rad. Any way to export from Figma -> Sketch?

[2018-11-15 20:44] seichris commented on #5
@jakerockland Thanks! Figma -> Sketch is not possible. Only svg export. You could copy-pasta my figma into a new figma file though.

[2018-11-16 09:18] wawhal commented on #4
I tried to start working on this.
Couldn't get my dev environment running.
`clevis test full` command didn't work.

[2018-11-16 16:26] johngrantuk opened #27 "Weird MetaMask error"
When I log out of Metamask and go to either https://xdai.io/ (or localhost:3000 when working locally), the app crashes. Output from developer console is below. Not sure if it's maybe something to do with the WEB3_PROVIDER setting?

!!!!DAPPARATUS~~~~~  {DEBUG: false, POLLINTERVAL: 777, showBalance: true, metatxAccountGenerator: false, onlyShowBlockie: true, …}
dapparatus.js:253 Generating account.

[2018-11-16 16:29] johngrantuk commented on #4
I think I've made a decent enough start on this, see repo below. I haven't fully tested everything yet because of [this issue](https://github.com/austintgriffith/burner-wallet/issues/27) but maybe some other folk could give it a run and see what issues crop up. Cheers!

https://github.com/johngrantuk/burner-wallet

[2018-11-16 17:14] johngrantuk commented on #27
As an update - I disabled/renabled the MetaMask extension and this issue seems to have gone away to look more likely to be MetaMask related.

[2018-11-16 18:12] riusricardo commented on #25
This issue should be related to some breaking changes introduced in **react-scripts@2.0**.

Please upgrade to Node 8 (LTS) or later.

We have dropped default support for Internet Explorer 9, 10, and 11. If you still need to support these browsers, follow the instructions below.

Next, place one of the following lines at the very top of src/index.js:

import 'react-app-polyfill/ie11'; // For IE 11

[2018-11-17 09:15] johngrantuk commented on #27
Still seems to be happening for me.

[2018-11-17 10:02] johngrantuk commented on #2
#29

[2018-11-17 18:29] dbe commented on #22
- One-Off Wallet
- Quick Card
- Web Wallet
- Web Cred(it)

[2018-11-19 13:18] jamesdigid commented on #9
Is this issue still open? I tested the QR scanner on both Firefox, and Chrome browsers without any issues?

[2018-11-19 14:19] austintgriffith commented on #9
It is still a problem. It's one of our biggest and I think I need to add funds to it.

We need the scanner working on *every* phone. Try it out on some other browsers on your phone and see how it works.

[2018-11-19 16:43] sebaraba commented on #9
Hello,

Is this issue still open? Are funds on gitcoin still available? One think worth mentioning is that QrCode Scanners wouldn't work on IOS 11 on any other browser but safari. That is bcs Apple has limited API support for 3rd party browsers starting with IOS 11+. I can try to dive in and have a look tho.

[2018-11-19 17:17] austintgriffith commented on #9
WTF Apple!?! Okay so maybe let's focus on older devices and android etc. IOS chrome was my target but if there isn't anyway to do it, there's no reason to even try. Does anyone have any devices where the scanner isn't working? This might be a non-issue because of Apple.

[2018-11-19 17:18] austintgriffith opened #30 "When you add to home screen you see "React App" as title"
This is just a simple change to the index.html title

I'll do it in a sec, just reminding myself. Anyone could jump on this too.

[2018-11-19 17:18] #2 closed

[2018-11-19 17:42] austintgriffith commented on #8
I'm going to extend this bounty and double the reward. We need to continue to hash out issues. I've seen a little activity here which is awesome. Is there someone in particular heading this up? Do we have a list of potential issues and severity? Hit me up directly if I can help on telegram: @austingriffith

[2018-11-19 17:50] austintgriffith commented on #14
Just doubled up the bounty on the audit and I want to make sure we reward the active audit of the contract. @riusricardo and @catageek could you guys him me up on Twitter or Telegram @austingriffith so I can make direct contact?

[2018-11-19 17:51] austintgriffith commented on #15
did we decide we can close this one out? Please do if so. If not, let's figure out next steps. Thanks dudes! Please hit me up on telegram to talk directly too.

[2018-11-19 17:53] austintgriffith commented on #13
Sorry for the long delay. What is the status of this issue? Should we put a PR in on the contract?

[2018-11-19 17:54] austintgriffith commented on #27
We get this solved or can I help? Feel free to hit me up directly and we can talk through it.

[2018-11-19 21:50] riusricardo commented on #8
@austintgriffith there are 4 issues that I have seen so far and confirmed on tests. The replay attack, discovered by  @catageek and 3 more that I'll directly disclose to you before making them public.

[2018-11-19 22:14] mohoff opened #31 "when destination.call() fails, funds get destroyed"
Hi, in `claim(..., address destination)` the line `destination.call.value(value).gas(msg.gas)()` can fail in case `destination` is a smart contract that requires more than `msg.gas` to execute its fallback function or simply reverts because of other reasons. If it fails, `call()` returns false which will make the transaction succeed. However, the Fund is destroyed by `delete funds[id];` and not su

[2018-11-19 23:38] jamesdigid commented on #9
Yes, the scanner wasn't working on iOS 12.1 (Safari), but I've resolved it for both my phone and for chrome on MacOSX 10.13.6 (High Sierra) will push the fix up shortly.

[2018-11-19 23:40] riusricardo commented on #31
It is correct but there is another thing to mention. Freeing space in smart contracts storage (delete) gives you extra gas to run in your transaction, this is useful for gas free transactions. As you said, I agree with the smart contract execution which can change the execution flow.

[2018-11-19 23:53] austintgriffith opened #32 "Sending via link broken?"
For some reason sending via link doesn't seem to work right  now:

https://blockscout.com/poa/dai/address/0x9c790f04ca68018230a280a21b15a4d19d1f0c70/transactions

the funds go there but can't get claimed.

[2018-11-20 01:12] riusricardo commented on #15
I think that this issue can be closed.

[2018-11-20 07:40] joshpitzalis commented on #5
@austintgriffith is there a deadline for when you will want to start the design work? I don't have time to work on this any more. I'll be available again on the 14th of December. Any chance you could put a rough deadline down and then we can schedule around it?

[2018-11-20 08:11] catageek commented on #14
I'm ktageek on twitter (not catageek, already taken). Following you now.

[2018-11-20 11:19] johngrantuk commented on #32
I tested on local network and it worked ok for both relay and non-relay case.

[2018-11-20 14:59] austintgriffith commented on #32
Yeah I don't think it's working on xdai.io

it's probably something I did wrong with the deployment

this issue is mostly just here to bug myself about going to fix it :)

[2018-11-20 17:04] seichris commented on #5
Oops. Shot too early. Didn't implement anything yet.

[2018-11-20 17:05] joshpitzalis commented on #5
We're supposed to start work? I thought one of the design is going to be picked first?

[2018-11-20 17:08] seichris commented on #5
Ah k. Then a deadline definitely would make sense.

[2018-11-20 17:42] austintgriffith commented on #5
Yeah let's get a couple good designs and let the community/collaborators/contributors decide what works best. Then, phase two will start and we can implement the design in React.

Designers will be paid a portion of the bounty once we select a good design and the implementor will be paid the remaining amount to get it in React.

[2018-11-21 01:51] santteegt commented on #30
Seems that it has already been done in https://github.com/austintgriffith/burner-wallet/commit/9f2103a1e74324ef9e797b2d0d0991dd3795ce91#diff-528c3923d718a8860f5d8c05c3931c55

[2018-11-21 22:47] mohoff commented on #31
Not sure how the extra gas you're mentioning adds to OP. Deleting is fine when you use `destination.transfer()` which will revert on failure. When it doesn't revert, `delete` frees some gas, yup.

But I'm curious, maybe I didn't understand your comment?

[2018-11-21 23:05] mohoff opened #34 "Include chain id in signed data"
Hi, others have been mentioning that a nonce is need to prevent replay attacks. However, I think a nonce might not be enough if burner wallets exist on mainnet and testnets. Even with a nonce, a replay attack is possible when a claim (happened on testnet) is replayed on mainnet. This assumes that the other fields are identical as well, which is possible IMO.

A workaround, in case my concern is va

[2018-11-22 01:21] riusricardo commented on #31
I'll talk about 3 different cases:
1) Send value to EOA - Probably this is the desired case for burner wallets. If a transaction gets to the delete instruction, it will get gas to run the call and send the value. It will be extremely hard (not impossible) to fail on sending the value with this extra boost.
2) Send value/tx to a contract (Honest smart contract that reverts) - In this case all the t

[2018-11-22 01:32] riusricardo commented on #34
Good idea!! It is another security parameter. It is possible to replay between networks. I think that using the contract address could mitigate this issue. But it is also possible to deploy the contract on the same address in different networks. So I think it is good to add it.

[2018-11-22 12:11] mohoff commented on #31
Thanks for explaining!

1. Do you have some numbers? How much gas is freed vs gas cost of simply sending ETH (2300gas?)
2. According to (this answer)[https://ethereum.stackexchange.com/questions/19341/address-send-vs-address-transfer-best-practice-usage], you are not correct here. If an honest smart contract reverts, the tx will succeed.
3. Agreed

[2018-11-23 03:54] riusricardo commented on #31
1) From [Ethereum Yellow Paper](https://ethereum.github.io/yellowpaper/paper.pdf) p.25,7,8
15000 Refund given (added into refund counter) when the storage value is set to zero from
non-zero.
24000 Refund given (added into refund counter) for self-destructing an account.
Even with this numbers it is difficult to estimate. I added some measurements in the [audit tests](https://github.com/riusricardo

[2018-11-26 11:04] dijxtra opened #36 "Feature request: display balance in fiat currency other than USD"
An dropdown could be added with all of the world's fiat currencies, and then DAI balance could be displayed in that currency. https://exchangeratesapi.io/ has a free foreign exchange rate API, so the service could be free.

This would be great for adoption outside of US (for instance, in EU).

[2018-11-26 21:48] austintgriffith commented on #5
I think @mattybgits' design is my favorite so far but I would love to see some feedback from the community. Should we reward him and continue on to implementing? Anyone out there want to start the second half of this bounty and start implementing the design in React?

[2018-11-26 21:52] austintgriffith commented on #36
This is a great idea. I will bounty this out!

[2018-11-26 22:08] mattybgits commented on #5
Apologies for dropping off the grid. Just moved to Berlin. If everyone
likes it, happy to finish up the screens and get them uploaded tomorrow!

On Mon, 26 Nov 2018, 22:49 Austin Griffith <notifications@github.com wrote:

[2018-11-26 22:16] austintgriffith commented on #9
Is this finished? Does someone have a phone the scanner doesn't work on?

Sounds like iOS chrome/firefox are out. What about android chrome/firefox?

[2018-11-26 22:52] peter-boot commented on #12
Yes no longer happening

[2018-11-26 22:52] #12 closed

[2018-11-27 01:38] #19 closed

[2018-11-27 01:38] #14 closed

[2018-11-27 01:39] #13 closed

[2018-11-27 03:33] shailysangwan commented on #5
@austingriffith I'd like to do the second half!

[2018-11-27 06:39] ej-sanmartin commented on #36
Hey!
  Currently setting up the environment, localhost:3000 isn't displaying anything as of now but I'm looking at your youtube video about contributing to this project. So, when it does start working I'll be rolling!
  Do you have a list of currencies you would like to display or would you want to have all the currencies listed from https://exchangeratesapi.io/?

[2018-11-27 15:44] mattybgits commented on #5
@austintgriffith + everyone else. InVision prototype for the 3 sending processes. Hotspots should be working. Working out copy for saving and deleting, a little info modal + an explanation of the xDai Bridge. Let me know what you think, would appreciate some feedback.

https://invis.io/NFP3H7LUK2T

[2018-11-27 16:43] austintgriffith commented on #9
I haven't used them. You think they would be better than the current implementation?

[2018-11-27 16:55] ej-sanmartin commented on #36
Hello! Could you help me with setting up the environment? I have followed your video but after docker finishes downloading, I am missing the contents of the contract folder and am missing the components folder and several other files from /src. I have tried `git remote add upstream <git url>` so it could be in sync with my fork but I still face this problem. What do you think?

[2018-11-27 16:56] austintgriffith commented on #5
This issue is back open again. Sorry, I don't know how to use Gitcoin. I'd love to see the second half of this bounty! I think @shailysangwan might be working on getting the design implemented in React?

[2018-11-27 17:01] austintgriffith commented on #36
have you run 'clevis test full' already? That is important to generate your contracts.

[2018-11-27 17:20] shailysangwan commented on #5
Yup! Should be complete by Thursday.

[2018-11-27 17:42] mattybgits commented on #5
@shailysangwan If you need anything, let me know! Can send through style info and should have the rest of the screens uploaded to InVision by tomorrow early afternoon at the latest.

[2018-11-27 19:09] ej-sanmartin commented on #36
Thanks for getting back to me! Yeah I have run it. I keep getting this output.

![wallet-burner-clevis-test-full](https://user-images.githubusercontent.com/29460583/49105124-d97c3680-f24d-11e8-86cb-cc1782beabc4.png)

[2018-11-27 19:13] ej-sanmartin commented on #36
Wait I just realize I reset my laptop recently and haven't downloaded the Solidity compiler yet. I'll get back with you if the results have improved.

[2018-11-27 19:41] ej-sanmartin commented on #36
Yeah I was guessing there was an error on my part so I'll delete the git clone directory I have and clone from the fork I made and use the two commands you gave me here!

[2018-11-27 20:44] austintgriffith commented on #36
there should be a 'react.log' file. what's that say?

[2018-11-27 22:48] ej-sanmartin commented on #36
Opened the react.log file:

![screen shot 2018-11-27 at 5 44 14 pm](https://user-images.githubusercontent.com/29460583/49116737-8ebde700-f26c-11e8-8fed-6a2b59ba17c5.png)
![screen shot 2018-11-27 at 5 45 11 pm](https://user-images.githubusercontent.com/29460583/49116749-98474f00-f26c-11e8-9a62-ec2ea8ee899e.png)
![screen shot 2018-11-27 at 5 45 40 pm](https://user-images.githubusercontent.com/294605

[2018-11-27 22:53] austintgriffith commented on #36
Not sure what to say here, these are just warnings. There should be something up at localhost:3000

[2018-11-28 19:11] johngrantuk opened #39 "Local development - https requirement"
When working locally if you visit http://localhost:3000/ then the app doesn't display. Can be fixed easily by going to https instead so: https://localhost:3000/

The Contributing part in the readme probably needs to be updated to show this (happy to do this - just let me know).

I think this is due to the extra -e "HTTPS=true" added to the Docker command.

[2018-11-29 00:30] davecraige commented on #5
👋 Hi everyone, does anyone want to start a Figma file for all these great ideas and designs?  Happy to jump in and help.

[2018-11-29 09:50] mattybgits commented on #5
@shailysangwan @davecraige I've imported my Sketch document to Figma.

https://www.figma.com/file/foeT5XpJAbkOutTRHPQWga2Z/Dai?node-id=0%3A127

Font requirements:

"FontAwesome5FreeSolid", "ArialRoundedMTBold", "InterUI-Bold", "InterUI-Regular", "InterUI-Medium", "InterUI-ExtraBold", "InterUI-SemiBold"

All the icons are done through FontAwesome so should be very easy for development.

[2018-11-29 11:19] mohoff commented on #34
I'm also not sure, never worked with POA/xDai before. My guess is just the chain id.

[2018-11-29 17:03] riusricardo commented on #34
It can be done quite easy in the smart contract. We should add a new variable initialized with the constructor and include it in the signed hash. Every time the contract is deployed into a network, the chain id needs to be specified.

[2018-11-30 11:30] jamesdigid commented on #9
The current qr code reader you have has a legacy mode which allows still images to be used, you could just add some logic to determine the user agent and browser that should work for most of your edge cases.

[2018-12-01 09:45] joshpitzalis commented on #5
Hey there, just wondering what the status is on this project.
@mattybgits congratulations on winning the gig. Great work. Are you also working on desktop and tablet designs or just the mobile views?
@shailysangwan are you still working on dev? whats the ETA? Do you need any help? Here is you need me. Happy to work on this if you decide not to.
@austintgriffith I sent you my ethereum wallet id but

[2018-12-01 10:30] austintgriffith commented on #39
Yeah you can just pull -e "HTTPS=true" out too

It relates to this:
https://github.com/austintgriffith/burner-wallet/pull/33/commits/4e9cbebecaae58deae59402d7ffa0100e19ee391

[2018-12-01 10:30] #39 closed

[2018-12-01 10:38] austintgriffith commented on #26
Is this still happening? Maybe it was an issue with POA? I am able to bridge fine.

[2018-12-01 10:41] austintgriffith commented on #25
SSL is also an issue. Right now when we host the code in cloudfront, it uses SNI for SSL and that breaks old phones. It's much more expensive to have custom SSL so the solution might be to start running our own webservers to host the static content and use Let's Encrypt for SSL.

[2018-12-01 10:43] #10 closed

[2018-12-01 22:19] shailysangwan commented on #5
@joshpitzalis I've been working on it, it'll be completed soon.

[2018-12-03 02:16] austintgriffith commented on #9
This task is the next big hurdle. Right now the Burner Wallet just shows a white screen when trying to scan with older iPads etc. I would love to know if anyone is trying to figure this out?

Like @jamesdigid said, if we use [react-qr-scanner](https://www.npmjs.com/package/react-qr-scanner) instead of react-qr-reader, and then detect older browsers and default over to "Legacy Mode" then we can at

[2018-12-03 10:47] johngrantuk commented on #9
I'm happy to dig in if no one else is. I'll start looking into it properly tomorrow unless someone lets me know they're on it.

[2018-12-03 11:33] jamesdigid commented on #9
"curl -k https://localhost:3000"

Should fix the empty reply from server issue. Otherwise serving over https should fix your issues with iOS and Mac OSX support.

[2018-12-03 23:00] austintgriffith commented on #9
@jamesdigid the problem with forcing https is the create react app opens http by default and it's confusing to a first time issue. The library itself will work in production and will be on https so it's not concern of mine.

@johngrantuk  heck yeah man. Would love to see some movement on this and try to get it as compatible with old phones as possible while still maintaining a smooth flow on new p

[2018-12-04 04:19] dijxtra commented on #36
I see pull request is merged. Are there plans to deploy it to xdai.io?

[2018-12-04 17:14] johngrantuk commented on #9
I’ve started taking a look at this. The [general advice](https://github.com/WhichBrowser/Parser-PHP) seems to be not to use ‘browser sniffing’ as most of the browsers give false information. Instead it’s advised to use feature detecting instead.

The QrReader has an onError event so I think it might be possible to use that to default to the legacy mode. The code for that is implemented and appears

[2018-12-06 09:09] davecraige commented on #5
@mattybgits nice work on the designs!  Great hustle.  (Any thoughts on also making the file editable to others?)

Also what is your Twitter account again?  Mine is http://www.twitter.com/DaveCraige

[2018-12-06 10:03] starkblaze01 commented on #5
Is somebody still working on the implementation part?
I can help with on it.

[2018-12-06 13:40] mattybgits commented on #5
@davecraige Sorry! Didn't realise that the Figma document wasn't editable. I'll enable that!

Twitter is https://twitter.com/mattybchats

@starkblaze01 not entirely sure what's going on implementation wise. I tried to get in touch with @shailysangwan the other day, but no response so far.

[2018-12-06 19:56] shailysangwan commented on #5
It's done for the most part, I'll give it another 3-4 hours to take one final shot at it and make a PR for whatever I've done.

[2018-12-07 00:01] austintgriffith opened #40 "Show a smaller balance to cover gas costs"
If I have $1.25 and I try to send $1.25 it will fail because it needs a little gas.

I think a good solution to this would be to display their balance a little smaller than it actually is.

If we are rounding down 0.01 we should probably change any default fields from 0.01 to 0.10 too.

[2018-12-07 03:03] austintgriffith commented on #5
Just merged in the redesign from @shailysangwan. There are still some things TODO but I love how it looks so far!

[2018-12-09 20:09] johngrantuk commented on #8
I was looking at the contracts and had a question I was hoping someone could answer. In Links.sol, send function, the recoverSigner function is used to recover the address for the funds[_id].signer. Is there a reason that a _signature is used instead of just the wallet address directly?

[2018-12-10 17:47] riusricardo commented on #8
@johngrantuk There are some considerations for the SC.
Think of it as a EOA account. It has a similar functionality in terms of storing value, but anyone can use it.
For this reason it is important to validate that you are the "owner/creator" of a fund. The same way as if you use your private key to transfer from an EOA.
The idea behind the burner wallet is to use signed transactions and simulate

[2018-12-10 20:00] johngrantuk commented on #8
Thanks for the reply @riusricardo. Specifically I was wondering about line47 in the send function:

address signer = recoverSigner(_id,_signature);

As I understand recoverSigner returns the public address of the signature. This public address is linked to where the value is stored at. The parameter, _signature, that is passed in to send is only used in this line and doesn't have any other purpose

[2018-12-10 20:22] riusricardo commented on #8
@johngrantuk , your assumption is correct if we think that there is no other way to interact with the smart contract than from the wallet app. However this will introduce a security flaw because anyone can create a fund and assign another signer. Creating a strange behavior if someone else can "sign" in your name.

[2018-12-10 21:07] johngrantuk commented on #8
Ahh got it! Thought there would be an explanation. Thanks a lot for clearing that up 😀

[2018-12-11 03:32] austintgriffith opened #43 "Interesting iPad Error on Scan"
Using an old iPad and safari it works fine, but if I "add to home screen" and then access it from there, I get this error when I try to open the scanner:

![image](https://user-images.githubusercontent.com/2653167/49776770-b1afb880-fcba-11e8-849f-802266b680e5.png)

[2018-12-11 03:34] austintgriffith commented on #9
Any luck on this? Thinking of digging into navigator.mediaDevices on a low level and trying to build something custom if we can't get the QRReader to work well on older devices. Please let me know what kind of progress we have on this. Thanks!

[2018-12-11 09:20] johngrantuk commented on #9
I still think defaulting to legacy on error should work but I don't have any old devices to test on so was hoping to get some feedback on the test [above](https://github.com/austintgriffith/burner-wallet/issues/9#issuecomment-444180334) from someone who does.

[2018-12-11 14:45] austintgriffith commented on #9
Oh okay. I have plenty of old devices haha. So we need to get the code deployed to a staging environment and see how it works on old devices. I'll work on that!

[2018-12-11 15:31] austintgriffith opened #44 "After Scan Loading Time"
There is a weird UX issue where after you scan on a slow network you don't get any feedback until the page loads.

As soon as the qr scanner detects a code, we should show an intermediate screen while the link loads. Some kind of burner loader.

[2018-12-11 15:40] johngrantuk commented on #9
@austintgriffith if you click [here](https://johngrantuk.github.io/burner-wallet/) on your devices that should allow you to test.

[2018-12-12 01:21] austintgriffith commented on #9
Awesome I will test it out! Also, we now have https://s.xdai.io as our staging environment. I'll keep it up with the master branch. (It's running on dai.poa.network so it still runs on mainnet xdai so you spend real pennies to test)

[2018-12-12 01:31] austintgriffith commented on #9
Getting blank screens on both with my old devices. I'll get them plugged and figure out the errors soon.

[2018-12-12 08:37] johngrantuk commented on #9
Ahh that's disappointing. Sorry I thought that was it cracked.

[2018-12-15 21:45] austintgriffith opened #45 "Use localstorage instead of cookies"
localStorage would be better than cookies

[2018-12-16 17:48] #45 closed

[2018-12-17 02:16] joshpitzalis commented on #5
@austintgriffith the people who did design work, but didn't get picked. You said you were going to pay us $25 for our efforts. I've checked in about this twice now and I never get a response.  Is that still on the table?

[2018-12-17 15:11] austintgriffith commented on #5
Yes of course, sorry for the slow responses.

[2018-12-18 15:44] austintgriffith commented on #43
same error using an old iphone:
![screen shot 2018-12-18 at 8 43 17 am](https://user-images.githubusercontent.com/2653167/50164923-16fa3f80-02a1-11e9-8393-2a30fdb7d08d.png)

[2018-12-21 00:21] riusricardo opened #47 "Create an alternative signed hash."
The actual hash requires a destination field. It is not obligatory anymore because there are more parameters that make unique each fund.

The idea is to have a new feature for enhancing the send with link capability. There is no need to know the destination beforehand. If a user is claiming a fund with a link, the app could show a text field to write the destination address. In a future enhancemen

[2018-12-21 00:31] riusricardo commented on #7
This is a good functionality. It is not anymore in the SC because there was no further discussion about it and the funds remained locked. However it could be included again quite easily. The important part to figure out is the withdrawal process.
During the onbording, the user could provide a permanent address and they will need it to claim the fund. For security reason it is better to use a withd

[2018-12-28 21:07] riusricardo commented on #47
To prevent frontrunning we'll keep the destination in the hash.
The actual link has 2 parts: **claimId + privateKey**

[2018-12-28 23:39] austintgriffith opened #50 "Brave on iOS blocks everything"
The Brave browser on iOS blocks everything. The scanner doesn't work, the bridge doesn't work, etc.

[2018-12-31 05:37] austintgriffith opened #51 "Burner Wallet Loading Gif"
Create a bad ass loader gif for the burner wallet.

There are moments when you are waiting for the Burner to scan QR code or send a transaction.

Right now there is a filler loader but let's create something awesome.

It would be cool if it was "burner" / "cypherpunk" themed maybe even one that is qr code themed

It should be around 150px x 150px and still load quickly on old phones

[2018-12-31 17:20] riusricardo commented on #50
Same for Opera on Android, it only displays the background color. Haven't tested Opera Mini but I don't expect it to work either.

[2018-12-31 18:42] riusricardo opened #52 "Missing Exchange SC code. React building error."
`./src/components/Bridge.js
Module not found: Can't resolve '../contracts/Exchange.abi.js' in '/dapp/src/components'`

For testing, I just commented the line 45 on Bridge.js to let it build `abi:require("../contracts/Exchange.abi.js"),`

[2019-01-01 23:53] writeprovidence commented on #51
![loading](https://user-images.githubusercontent.com/31359701/50577466-6f444c00-0e20-11e9-9bdb-a383606e977e.gif)

[2019-01-01 23:56] writeprovidence commented on #51
Hello@austintgriffith I just drop a loader gif, can you take a look?

[2019-01-02 16:00] austintgriffith commented on #51
Sorry, I think I'm looking for something a little more interesting than this. I was hoping for something that looked kind of like a mix of matrix screen, cypherpunk, qr-code, etc. Really looking for a unique style... something no one has seen before and interesting to look at for 5 seconds.

[2019-01-02 16:08] dbe commented on #20
I think this is one which is worth having a security/convenience tradeoff discussion before going ahead with.

Even password protected keyfiles are not what I'd consider "secure". They are brute forceable, and only as good as a great password. [Relevant SO question](https://ethereum.stackexchange.com/questions/15362/how-much-is-the-private-key-in-a-keystore-resilient-to-bruteforce)

I think the pr

[2019-01-03 02:48] austintgriffith opened #53 "We should catch this error when someone cancels metamask"
it was on mainnet and I was logged out

prompt came up and I ignored it and got the orange screen

<img width="1360" alt="screen shot 2019-01-02 at 7 46 30 pm" src="https://user-images.githubusercontent.com/2653167/50622016-5b9ff080-0ec7-11e9-9175-6edc10dbc83f.png">

[2019-01-03 15:46] writeprovidence commented on #51
okay

[2019-01-03 18:02] austintgriffith opened #55 "Error Bridging DAI to ETH"
First of all, let's have a prompt that comes up letting them know they don't have any gas and they need to send ETH to the address.

Second, I got this error when going DAI to ETH:
![screen shot 2019-01-03 at 11 01 15 am](https://user-images.githubusercontent.com/2653167/50653520-06a3bf00-0f47-11e9-993d-fb54dafd3e3c.png)

[2019-01-03 18:02] austintgriffith commented on #55
^^ private key if anyone is quick enough ;)

[2019-01-03 20:59] #55 closed

[2019-01-03 21:32] #53 closed

[2019-01-03 21:40] #50 closed

[2019-01-03 21:42] austintgriffith commented on #52
committed this static file to the repo, should fix build errors

[2019-01-03 21:42] #52 closed

[2019-01-03 21:43] #44 closed

[2019-01-03 21:43] #43 closed

[2019-01-03 21:43] #40 closed

[2019-01-03 21:44] #26 closed

[2019-01-03 21:46] austintgriffith commented on #16
Now that the exchange is built in we are closer to this being a reality. Ended up using uniswap.exchange so any token there could be automatically converted to xdai if we want.

[2019-01-03 21:47] austintgriffith commented on #9
I think I got this working as well as I can.
It will fall back if it ever fails and you can add an image or take a picture.

[2019-01-03 21:47] #9 closed

[2019-01-03 21:48] #5 closed

[2019-01-04 06:11] dbe opened #57 "Site load time improvements"
Site is getting a 0 on Google's PageSpeed test.

![screen shot 2019-01-03 at 11 05 07 pm](https://user-images.githubusercontent.com/616230/50675578-3f29b400-0fac-11e9-9f51-52b54b76a8c5.png)

Links to reports:

- https://developers.google.com/speed/pagespeed/insights/?url=xdai.io
- https://www.webpagetest.org/performance_optimization.php?test=190104_1A_4fa20446fbd0db890cf8190cd4b00877&run=1

There

[2019-01-04 13:46] kobuta23 commented on #17
I was trying out the burner wallet and also found this very confusing. A good way to solve this (i.e. making sure the person depositing knows what to deposit) could be to use a logo in the middle of the QR code.

Not sure if the QR encryption and reader library you are using supports this, but it seems to work fine for many other apps.

You could also use this to make the "Receive" part easier for

[2019-01-04 18:50] andrewdamelio opened #58 "Add apple-touch-icon"
I love Burner, just added it to my iPhone home screen but I'm sad there is no 🔥 icon.

<img src="https://user-images.githubusercontent.com/1683736/50704973-3cb87000-1027-11e9-977d-2d836d94c00c.PNG" height="500" />

I'd gladly push a PR if you have any icon assets.

[2019-01-04 19:07] austintgriffith opened #59 "If logged in with MetaMask and then logged out there is an error"
When Dapparatus tries to used the RPC and MetaMask is unlocked but then later locked, I get this:
![screen shot 2019-01-04 at 12 06 07 pm](https://user-images.githubusercontent.com/2653167/50705829-4935cc00-1019-11e9-82bb-57ea91431601.png)

Make a MetaMask prompt when this error comes up!

[2019-01-05 18:11] jtremback opened #60 "Button on "Bank Account or Credit Card" screen does not work on iOS safari on iPhone SE"
Nothing happens when you press it

[2019-01-06 15:39] PeterTheOne opened #61 "Use Web Crypto API"
Haven't used SubtleCrypto before myself, but it seems it could increase security.

https://developer.mozilla.org/en-US/docs/Web/API/Web_Crypto_API
https://caniuse.com/#feat=cryptography

[2019-01-06 18:42] Nemris commented on #22
Go Wallet +1

Snap is no good because it could be confused with SnapChat. You'll get in legal trouble.

I would also suggest "Change" wallet. That has several dimensions of interpretability (e.g. "change your wallet" and "wallet for pocket change").

I think a rebranding is highly desirable and would go a long way towards helping Burner Wallet reach a larger audience. I think a project like this c

[2019-01-06 19:20] riusricardo commented on #47
@austintgriffith We can close this issue. We could think about this later and analyze if there is an alternative or keep it as it is.

[2019-01-06 19:35] austintgriffith commented on #47
thanks!

[2019-01-06 19:35] #47 closed

[2019-01-06 19:37] riusricardo opened #62 "Token SC is not compiling."
There is a missing variable in the Token SC.
`Undeclared identifier: _balances[msg.sender] ...
`

The reason for this to happen is related to some changes in Openzeppelin SC introduced for the 2.0.0 version. In this case it is affected by a private variable instead of a previous internal variable definition.

In `openzeppelin-solidity/contracts/token/ERC20/ERC20.sol` in line 17 the _balances varia

[2019-01-06 19:43] alexfisher commented on #62
Also mentioned in issue #56

[2019-01-06 19:52] riusricardo commented on #62
Thanks @alexfisher , I didn't see the previous issue #56

[2019-01-06 20:01] riusricardo commented on #62
Just as a comment to the issue #56, removing the private definition and not changing it to internal will default it to public. Probably not super insecure but there is a public function (balanceOf) to get the actual balance so there is no need to keep it public.

[2019-01-07 02:11] blockchainbuddha commented on #22
![fannypack-best](https://user-images.githubusercontent.com/35622595/50745294-61fbd880-11f7-11e9-90c5-a8bce1b8135a.png)
![nifty-fannypack](https://user-images.githubusercontent.com/35622595/50745298-66c08c80-11f7-11e9-9db1-4fb25490c605.png)

Fanny packs are a fun place to keep a _little bit of change_ when you're **on-the-go**.

[2019-01-07 08:48] johngrantuk commented on #22
As a heads up 'fanny' has quite a different meaning here in the UK. Personally I actually like Burner Wallet.

[2019-01-07 11:05] marczeller opened #63 "ENS support for the Burner Wallet"
Current version doesn't support ENS.

As a community venue here @ The Block Cafe our audience are often more comfortable using theblockcafe.eth than scanning a random QR code.

Thanks for all your work!

[2019-01-07 12:04] austintgriffith opened #64 "DenDai on Brave"
For some reason when I visit DenDai on Brave with my shields up it hangs and chews CPU.

Leaving a note here so I'll figure this problem out eventually

[2019-01-07 12:06] austintgriffith commented on #63
This is hard because we are running on xDai and not the main ethereum network.
I guess we could still just look up the ETH address on mainnet and use it on xDai.
Yes! I think this will work! Okay, this just became a high priority for me :)

[2019-01-07 12:37] austintgriffith opened #65 "DenDai Transfer Event"
The Transfer event isn't being parsed right so right now you *have* to send a message along so it uses transferWithData

[2019-01-07 12:55] austintgriffith opened #66 "Network Suggest UX"
When the network suggest box pops up:
![image](https://user-images.githubusercontent.com/2653167/50769296-c1caa180-1240-11e9-96a4-dca42589445f.png)

It should be copy and pastable content so you can just select "https://dai.poa.network" and paste it into the custom RPC box

[2019-01-07 13:49] #65 closed

[2019-01-07 14:11] marczeller commented on #63
we're not very rich, but i hope this small incentive will help. Thanks !

[2019-01-07 14:15] blurpesec commented on #63
Is this just for ENS resolution?

[2019-01-07 15:06] marczeller commented on #63
Yes auto-resolve in that field would be great.

[2019-01-07 15:20] austintgriffith commented on #57
DONE, how does it look?

[2019-01-07 15:20] austintgriffith commented on #57
maybe check dendai.io too?

[2019-01-07 16:37] dbe commented on #57
![screen shot 2019-01-07 at 9 35 37 am](https://user-images.githubusercontent.com/616230/50780230-a327d300-125f-11e9-9114-59f26c3f6a66.png)

Wew!

Lol, that was actually a huge improvement, but we were just so far in the doghouse before that it only got us to a 2.

Looks like the next big thing is going to be optimizing the JS. There are a lot of unneeded dependencies getting shipped. Just splitti

[2019-01-07 16:41] dbe commented on #62
That contract really shouldn't even be checked into master tbh. Its a work in progress which should be in a branch, or at least not involved in the main test suite yet.

Don't worry about security or code for that contract because it doesn't look even remotely like it will once we actually get it to a production ready state.

If you are having test blocking issues I'd just suggest hacking around i

[2019-01-07 16:57] riusricardo commented on #62
@dbe The contract is in production releases openzeppelin-solidity@2.0.0 (Solidity 0.4.24)
It is also available in the latest release openzeppelin-solidity@2.1.1 (Solidity 0.5.0)

[2019-01-07 17:05] dbe commented on #62
@riusricardo

Ah, sorry I don't think I got across what I meant to. You are totally right about the BalanceOf function and fix.

What I meant is that the DenDai contract currently in the BurnerWallet was put in master a bit prematurely I think. This normally wouldn't be too bad, but because the current test suite breaks if any one thing breaks, and the test suite is the current way to deploy contr

[2019-01-07 20:18] plor commented on #51
Someone who knows how to actually use photoshop could do better, but I thought of this concept at least.
![burner](https://user-images.githubusercontent.com/408660/50791338-20b30980-1287-11e9-9168-3a72b0f5fbfa.gif)

[2019-01-08 04:23] dconroy opened #68 "Incorrect Units when moving from XDAI to DAI"
When removing your XDAI from the burner wallet via the exchange page, you enter the amount of xdai to withdraw in USD, however the metamask popup asks for confirmation in ETH.

Eg, if you try to withdraw 9$ it attempts to withdraw 9 Eth ($1350 at current prices)

video: https://www.dropbox.com/s/pq13ojxyha64qn9/price-in-eth.mov?dl=0

[2019-01-08 04:39] dconroy commented on #68
This may just be my misunderstanding, but if the expected behavior of what was recorded above is dai withdrawal and not eth withdrawl - this actually locks the user into xdai with no easy of transferring back...

[2019-01-08 09:43] marczeller commented on #68
To the best of my knowledge it's a Metamask UI issue, i "kinda" solved it with the advanced options :
![image](https://user-images.githubusercontent.com/21088542/50822093-ba7ec300-1328-11e9-9639-373b2a34426c.png)

Resulting in this : https://youtu.be/o_hONcPTC5c

[2019-01-08 18:23] plor commented on #51
One thing to note, is I used white as part of the flame, so it looks weird when against a white background.  I made a smaller one to see how 150x150 would look.
![burner-small](https://user-images.githubusercontent.com/408660/50850682-2b7da500-1340-11e9-97fc-7969fd81d7a1.gif)

[2019-01-08 19:07] rstormsf opened #69 "Testnet URL"
is there a testnet for this app?

[2019-01-08 20:37] blurpesec opened #70 "Suggestions for QoL Improvements in development"
Suggestions:
- [ ] A `Contributors.md` to detail layout of the codebase and where things belong.
- [ ] Upgrade to Typescript to support types or remove Typescript types in `src/components/history.js`.
- [ ] Add a `utils` folder for process reuse-ability. JsonRPC/WS stuff is a good example of this: They're pretty standard in how they're conducted, so it could be beneficial to create a `/utils/netwo

[2019-01-09 15:21] marczeller commented on #22
I asked a dozen people yesterday during a meetup :

1) People are fine with "Burner Wallet"

2) Instant Wallet is also appreciated

[2019-01-10 10:50] marczeller commented on #63
Cool ! if @austintgriffith merge this i'll more than happy to payout asap.

Thanks for your work

[2019-01-11 21:58] austintgriffith opened #72 "Create a Transaction tracker"
We would like to put less strain on the dai.poa.network so it would be cool to have a node app that tracks burner wallet transactions and stores them in a database so we can query it for a list of transactions.

We don't really want any analytics built into the wallet on purpose so I propose we use a specific gas price to signify a transaction is coming from a burner wallet.

So any account that s

[2019-01-12 08:33] dev1644 commented on #72
Hi @austintgriffith , Can I work on this Bounty or is its reserved for specific user. I can't apply from gitcoin.

[2019-01-12 09:45] amit4u25 commented on #72
Hi,

I want to work on it. How I can start working on it?

[2019-01-12 19:08] andresberejnoi commented on #51
@austintgriffith I went to submit my work but did not actually see where to upload my file. I am new to using Gitcoin. Do I just drop it here?

[2019-01-12 19:18] plor commented on #51
I would assume that an attachment in the comments here would suffice, though perhaps a pull request with the file would be appreciated.

[2019-01-12 21:33] andresberejnoi commented on #51
This is a GIF using the orange color from the logo and the flame at the center. The QR encodes "Burner Wallet"

![burner wallet qr](https://user-images.githubusercontent.com/17301409/51078693-9227f900-1687-11e9-8300-82639ee793fb.gif)

[2019-01-14 17:45] jtremback commented on #60
I'm referring to the Create/Connect button btw @austintgriffith

[2019-01-14 17:51] austintgriffith commented on #60
Yeah I know these don't work yet. We are working closely with Wyre to create better ramps. For now to off/onramp you have to go to the service like coinbase, get your off-ramp address, come back to the burner and use the blue-right-arrow send button.

I was going to document this process and have it show up when you hit the button, but it sucks and I think we can do better. That's why i'm just kee

[2019-01-14 18:16] jtremback commented on #60
Ok, cool thanks. Was just going to tell you about a few other phones where it doesn't work but it sounds like you've got it under control. Maybe remove them to avoid confusing people.

[2019-01-14 18:16] #60 closed

[2019-01-14 18:21] austintgriffith commented on #60
Good call, deploying a quick update to add some feedback to those buttons for now to avoid confusion.

[2019-01-14 19:40] jtremback opened #73 "User has lost 5 dollars by wiping history (aka how do we explain the temporary nature of the wallet?)"
Someone I was introducing Burner Wallet to had a setting on android chrome which wipes their history when they close the app. Obviously this caused them to lose their money.

I understand this is totally a core tradeoff of Burner Wallet, but bringing this to the general public, it will happen a lot, and people will get mad about no matter how much you explain it. I'm somewhat aware of the function

[2019-01-14 19:41] jtremback commented on #73
Instructions on the front page (or a wizard or something) instructing users to screenshot their private key. Then they can recover if they lose their browser history.

[2019-01-14 19:52] NukeManDan commented on #73
In whatever method is implemented - consider prompting that the wallet is very hot - not to store large amounts of money! Along with links to better resources for doing so - like installing metamask / a mobile wallet app / buying a hardware wallet as a "savings account". Then integrating easy sweeping to those options (and/or a link to a detailed explainer like a medium post about it)

For ideas t

[2019-01-14 19:58] jtremback commented on #73
Yea I think that everything necessary is already implemented on the "Advanced" page, just need to make it prominent and have a recommended method.

[2019-01-14 20:48] vs77bb commented on #72
@johngrantuk You should be able to submit work now, feel free to give it a go 🙂alternatively, @austintgriffith can pay out via the 'Advanced Payout' feature!

[2019-01-16 21:31] jtremback opened #74 "Not possible to transfer xDai into Dai on mobile."
The progress bar goes for a while and nothing happens

[2019-01-18 13:25] marczeller opened #75 "Privacy-focused Browser and the Burner Wallet - Add Warnings"
![20190117_195816](https://user-images.githubusercontent.com/21088542/51388668-0c41fd00-1b22-11e9-9a81-c904cabf9496.jpg)

Some people are on Privacy-focused browsers such as FireFox Focus, locking out most stuff by default makes the burner wallet not usable at all.

Side issue : any amount send there will be "locked", the private key doesn't work with the burner wallet on any other kind of device

[2019-01-18 13:37] iamonuwa commented on #75
@marczeller can you please elaborate this "Side-proposal : identify main privacy focus browsers and setup the same warning."

[2019-01-18 13:45] marczeller commented on #75
Firefox Focus is the most popular browser of this kind but there several one that'll probably lead to the same UX.
I was meant to be open to discussion, if anyone have a relevant proposal.
The issue bounty is related to firefox focus.

[2019-01-18 13:48] iamonuwa commented on #75
Alright. Am working on the your proposal

[2019-01-18 16:18] #74 closed

[2019-01-18 16:20] austintgriffith commented on #75
We worked through this and as far as I can tell it still falls back to the "take a picture" scanner:
This works "okay" it's not awesome, but it still works.
If you are able to find a browser that totally fails we need to figure out why, but event Firefox Focus still 'works':
![qnhxxns2](https://user-images.githubusercontent.com/2653167/51399084-561aeb00-1b02-11e9-9710-206cbc47de61.jpg)

[2019-01-18 16:21] #75 closed

[2019-01-18 16:22] austintgriffith commented on #73
yeah this is a tough one. I can't think of a name better than burner that tells you this is very temporary.

If you can come up with something we have an open ticket here: https://github.com/austintgriffith/burner-wallet/issues/22

You only lose the private key when local storage is cleared.

[2019-01-18 16:22] #73 closed

[2019-01-18 16:27] #68 closed, assigned to nobody

[2019-01-18 16:49] austintgriffith opened #76 "Implement internationalization library so Burner displays in correct language"
In order to help with widespread adoption the Burner will need to be translated to multiple languages.

Let's start by implementing an i18n library for all the buttons and text.

This one looks okay, but if you know of a better one, please use it.
https://github.com/i18next/react-i18next

[2019-01-18 17:49] austintgriffith opened #77 "Start building a Burner in React Native"
This will be the first of a few bounties for a React Native build

If you start this one and are able to get a POC working we will create new bounties as we go to make sure you are compensated for your work.

**The goal is to have a React Native app that displays xdai.io in a webview, but then injects the private key from storage in the app instead of using localstorage in the browser. (more secur

[2019-01-18 17:50] austintgriffith opened #78 "Start building a Burner in Electron"
This will be the first of a few bounties for an Electron build

If you start this one and are able to get a POC working we will create new bounties as we go to make sure you are compensated for your work.

**The goal is to have an Electron app that displays xdai.io in a webview, but then injects the private key from storage in the app instead of using localstorage in the browser. (more secure etc)

[2019-01-18 17:54] iamonuwa commented on #76
i18next is good for this project. I did similar implementation for openzepplin recently.
I have vast knowledge with react, JavaScript and internalization

[2019-01-18 18:05] iamonuwa commented on #77
If approved, I'll use react-native CLI to build this

[2019-01-18 19:15] iamonuwa commented on #75
Alright. Am working on the your proposal

[2019-01-21 23:15] jtremback commented on #74
@riusricardo @austintgriffith So it is simply not possible for a new user to receive money and cash it out on coinbase without already having a funded ethereum address that they have configured the burner wallet to use? Makes sense. The transfer screen does not convey this info so it seemed like a software bug, FYI

[2019-01-22 15:54] #78 closed

[2019-01-22 23:07] crisgarner opened #79 "Wallet crashes on request with character "/""
When you create a request and put the "/" in the text for example "Beers / Pizza" the wallet crashes on safari as seen in the following image:

![whatsapp image 2019-01-22 at 5 05 42 pm](https://user-images.githubusercontent.com/578688/51571555-1472a300-1e68-11e9-960c-0b57807afe41.jpeg)

[2019-01-24 00:54] jtremback commented on #20
I disagree with this. Exporting the private key should be easy, since until a user exports it they are vulnerable to loss of the wallet.

I'm making the assumption that it's much more likely that a user will lose funds by losing the private key (incognito mode, etc), than by having it stolen.

If this is the case, then putting barriers in the way of backing up the private key is opposite of what w

[2019-01-24 01:39] jtremback commented on #55
@austintgriffith this may need to be reopened, I have been getting the same error. As you can see, I have Eth: ![screenshot from 2019-01-23 17-35-11](https://user-images.githubusercontent.com/1335122/51648441-6a614c80-1f35-11e9-88f0-e8d1ec7285a3.png)

[2019-01-24 01:41] jtremback commented on #55
@austintgriffith I just got this error and it was confusing. Do you still want a prompt? I can add it.

[2019-01-24 01:50] jtremback opened #82 "Exchanging DAI to Eth hangs"
I attempted to exchange $0.49 DAI to Eth and it has been hanging like this for about 10 minutes:

![screenshot from 2019-01-23 17-49-10](https://user-images.githubusercontent.com/1335122/51648917-5880a900-1f37-11e9-9bcc-915a8cbb52dc.png)

[2019-01-24 01:57] jtremback commented on #82
Tried again, getting this:

![screenshot from 2019-01-23 17-57-06](https://user-images.githubusercontent.com/1335122/51649219-5408c000-1f38-11e9-8b0a-9536050e311b.png)

[2019-01-24 02:00] jtremback commented on #82
Ok, got it through. Generally it's very hard to tell what is going on, but I think that's more of a problem with MetaMask and/or the whole concept of having an Eth wallet in a browser extension.

[2019-01-24 02:02] riusricardo commented on #82
I have experienced the same issue and it is somehow related to metamask. Hard to tell the cause. It'll probably hang there for long time.
IMPORTANT:
When a transaction hangs in the xDai chain, you should not switch the network selector or Metamask could send the equivalent xDai -> ETH in the main network. xDai is ETH but renamed as xDai in another chain.

[2019-01-24 02:13] NukeManDan commented on #20
This might be exactly what we try to enforce? Is there a way to strongly suggest that a PM is used to store the key?

In the end a wallet _is just a high-order password manage for private keys_... Thus should the aim of the burner wallet be to at some level manage those keys safely for the user? Installed software wallets are expected to do this, maybe the web-only wallets would not need to do thi

[2019-01-25 03:40] jtremback commented on #70
Stop routing based on pathname length...

[code]

[2019-01-25 04:14] dbe commented on #70
Would love to see PRs for these!

[2019-01-26 22:00] #76 closed

[2019-01-27 17:48] alex-forshtat-tbk opened #87 "Add support for EIP-1613 Relays for 'claim' meta-transactions"
With the current implementation, the user who receives a transfer of funds via a URL link has to make a claim on a blockchain.
In case the user does not have a sufficient amount of native token to perform such a transaction, he can make an HTTP request to the xDai relay server to have that claim made for him.

This creates a centralized single point of failure for Burner Wallet, as the address of

[2019-01-28 15:04] riusricardo commented on #62
Closing because the OpenZeppelin libraries are now part of the repo. No more need to track this issue.

[2019-01-28 15:04] #62 closed

[2019-01-28 16:22] riusricardo commented on #62
I agree. But the fix breaks no compatibility with the ERC20 token. Changing to internal instead of private could be a permanent fix. OZ has that variable as private in new releases.
The ERC20 contract with the fix could be the only one that we should keep in the repo.

[2019-01-28 16:46] dbe commented on #62
With the new smart contract there is no need to have it be internal. We are using the contract APIs as intended with the new stuff.

[2019-01-28 17:10] riusricardo commented on #62
I'm not getting what you mean with "new smart contract". Are you working on a new PR?
If not, I'll take another look later and work in some upgrades.

[2019-01-28 17:56] iamonuwa commented on #11
To achieve this, you'll need a service worker on the app. I can get this to work on both chrome, ios

https://medium.com/@firt/progressive-web-apps-on-ios-are-here-d00430dee3a7

[2019-01-28 20:00] krisc commented on #75
Is anyone currently working on this?

[2019-01-28 22:11] riusricardo commented on #62
@dbe  I see thew new contract branch. https://github.com/austintgriffith/burner-wallet/blob/new-vend/contracts/ERC20Vendable/ERC20Vendable.sol

[2019-01-29 03:26] vinsalg opened #90 "Impossible to convert xDai to Dai"
**UPDATE**
After more investigation, it seems the problem stems from when you switch from the main ETH network to the dai.poa.network. You need to be very careful and refresh the page when changing networks, otherwise transactions seems to be sent on the wrong chain resulting in all kinds of problems and stuck funds.

Could something be done to prevent such problems?

---

I have 0.20 in xDai with

[2019-01-30 16:57] igorbarinov commented on #90
Your transaction was ok, it's just UI which stuck.
You can always monitor status of the bridge here https://bridge-monitoring.poa.net/dai/eventsStats

[2019-01-30 17:04] igorbarinov commented on #90
Bridge UI could've been maid to avoid this problem.
Please contribute, at least an issue, here https://github.com/poanetwork/bridge-ui/issues

[2019-01-30 17:22] riusricardo commented on #90
There are two related issues:
1) (Reported in Metamask) Pending transaction from a side chain was executed on the mainnet  [#5762](https://github.com/MetaMask/metamask-extension/issues/5762)
2) (Reported in Burner Wallet) Exchanging DAI to Eth  #82

[2019-01-30 21:47] vinsalg commented on #90
Fixed for me by [#6044](https://github.com/MetaMask/metamask-extension/pull/6044) on the Metamask side. Be sure to run the latest Metamask v.5.3.3.

Thank you everyone for your help and time.

[2019-01-30 21:47] #90 closed

[2019-01-31 17:22] vbaranov opened #93 "Add support of MetaMask - based extensions without implemented EIP-1102"
`Burner-wallet` or, to be more precise [dapparatus](https://github.com/austintgriffith/dapparatus/tree/master) dependency [relies](https://github.com/austintgriffith/dapparatus/blob/master/src/dapparatus.js#L262) on `window.ethereum` property. This property is a part of [EIP-1102](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1102.md). And for Metamask-based extensions, that haven't implem

[2019-02-07 21:39] santteegt opened #98 "Error raised after adding a product in the vendor wallet"
I'm currently getting an exception when testing the vendor functionality in a local testnet. After registering a new product, the following error is being raised:

[code]

The error occurs both in Google Chrome v71.0.3578.98 and Brave Browser v0.59.34

[2019-02-12 15:54] #98 closed

[2019-02-15 07:56] Hendibirkoff commented on #82
I try to exchange My XDAI to DAI. The transaction is done but not in in my wallet.. And i loss all of my fund

[2019-02-17 13:30] kimpers opened #100 "License for project?"
Any chance we could get a proper license for this project? I would like to base a project on `burner-wallet` but without a clear license I would not be comfortable doing so.

[2019-02-17 13:44] bwheeler96 opened #101 "Loss of funds when visiting existing wallet with MetaMask"
Steps to reproduce:

Create a burner wallet without MetaMask installed
Add some money
Install metamask
Visit the burner wallet
Old wallet gets clobbered

[2019-02-17 21:57] GriffGreen opened #102 "Can't send dai"
I would love an Easter egg or even full on functionality to switch networks and use xdai.io for moving dai as welll... If that functionality exists... I can't find it

[2019-02-23 14:09] NukeManDan opened #103 "Feature: Send-to-Many (Tip integration)"
From @ethdenver, @crisgarner and I worked on this project: https://github.com/AffogatoNetwork/splitter

The inspiration was a need for tipping a party other and the vendor I am receiving from directly (for Affogato, this was buying coffee and tipping the coffee farmer in another country)

Generalizing that, we want to integrate a on-to-many payment method, so one could pay for all services, produc

[2019-02-23 14:13] NukeManDan commented on #103
I have a simple UI wireframe and flow diagram together and would love some feedback:

![image](https://user-images.githubusercontent.com/35669742/53287505-46627800-373a-11e9-9372-91ffae423caa.png)
Edit this file [here](https://www.draw.io/#HNukeManDan%2Fdraw.io%2Fmaster%2Fburner_tip_flow.xml)
Source [here](https://github.com/NukeManDan/draw.io)

[2019-02-23 17:46] elviric commented on #101
When you visit burner wallet without Metamask. It will randomly generate a wallet and stores the pvt keys in your browser's cookies.
And when you visit the site, wallet with metamask and custom rpc you would see the address is same as that of your metamask.

[2019-02-24 05:23] crisgarner commented on #103
Two use cases that I see from ETH Denver exercise. First is adding tips, most of the trucks after a day had a sign saying that they will take tips on buffidais. Second, multi items/transactions buy. It was easy since most meals were 8, but if you had a variable menu with different prices could start getting messy.

Maybe the solution for this, isn't on the burner wallet, but maybe on a "burner pos

[2019-02-24 14:52] ricburton opened #104 "Clevis install fail"
Apologies for the confusion but I got this error. Will try and debug myself but I thought it would be worth recording here for other new people to the project.

<img width="1067" alt="screenshot 2019-02-24 at 09 50 48" src="https://user-images.githubusercontent.com/438160/53300810-c1e72680-3819-11e9-8991-a263bcf68c86.png">

[2019-02-26 14:07] skibitsky commented on #100
@kimpers 5b71fd9bda5bb89b2b53469396a0f4af44f1401d

[2019-02-26 14:32] kimpers commented on #100
Closing issue, thanks for adding a license!

[2019-02-26 14:32] #100 closed

[2019-02-26 22:51] bwheeler96 commented on #101
@elviric and if you try and visit the burner wallet again you will see your funds are gone.

Suppose a user plugs in their burner wallet (wallet A) without having metamask signed in, and then they sign in to metamask (wallet B). They lost all their funds in wallet A.

I made you a screen recording I'll share when it is done uploading

[2019-02-27 17:56] dbe commented on #101
@bwheeler96 is correct.

**Technically what is happening is:**

We are saving the ephemeral private key in local storage under "metaPrivateKey". When you load up the wallet with Metamask, the burner overwrites the local storage variable with "0".

If the user copied their private key, they can reclaim this wallet, but if not, it indeed is gone.

We need to have a better way of handling injected we

[2019-02-28 02:14] bwheeler96 commented on #101
@dbe I didn't lose more than one or two DAI, but I wanted to report this issue in case someone in the future uses the burner for a more substantial amount of money.

I really like the idea of a burner wallet. I developed with it at ETHDenver and hopefully can continue to add some usefulness

[2019-02-28 16:24] hughlang commented on #22
@austintgriffith, nice talking to you yesterday. Naming things is one of my favorite things, so here's my suggestion:

Flash Pay

Rationale:

* It still retains a bit of the "burner"/fire concept. Current art can hold for now.
* It also suggests "fast" and "quick" and not meant for large sums.
* The name should be usable as a verb, like "Venmo it to me" => "FlashPay me" etc
* Possible variants: Fl

[2019-03-02 02:34] elpinguinofrio commented on #22
I really like burner wallet name. Sounds amazing, neat logo, easy to remember, people already recognize it, you can even use cool emoji for it.

[2019-03-02 02:43] lebed2045 opened #109 "Initialization `npx clevis init` warnings"
When I follow instructions, I see this:
[code]

I believe this is undesirable installation behavior

[2019-03-02 03:51] winfred opened #110 "Smaller top level action surface area - clearer focus UX"
I enjoy thinking about UX. I could also code these changes if I get the time and you like the direction. (Was just wireframing in Chrome debugger for these.)

## Simplify home screen.

* Move the alternate CTAs to the top, further away from thumbs (optimizing for mobile)
  * maybe even move advanced to the top? (theme: keep primary CTAs close to bottom for thumbs)
* Squeezing the buttons in on the

[2019-03-02 18:22] dbe commented on #109
Can you elaborate on what is undesirable? The list of warnings, or is something broken?

[2019-03-03 07:43] lebed2045 commented on #109
long list of warnings, yes.

[2019-03-04 12:27] winfred commented on #110
Ha, this is pretty much what daicard.io has done.

I am clearly already out of the loop. 🤷‍♂️

[2019-03-04 21:45] hatgit commented on #75
Hey @austintgriffith!  I see this bounty is still open on Gitcoin https://gitcoin.co/issue/austintgriffith/burner-wallet/75/2153, and since this issue was closed here, was anyone's work accepted, @iamonuwa  @sliriano  (if so it could be paid out on Gitcoin) and is the bounty still available to be worked on? (if not kindly update the Gitcoin page, time permitting). Thanks!

[2019-03-04 22:35] marczeller commented on #75
Sorry @hatgit it's completely my fault i created the bounty and forgot to close it down when we found a workaround. i'll close the bounty but don't worry i'll relocate the funds to another stuff soon !

[2019-03-14 21:14] santteegt opened #115 "Add support for EIP-681 for a standardized URL format for payment requests"
Hi,

It could be great for the burner wallet to implement the [EIP-681](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-681.md) It would allow a standardized URL format (within QR-codes) to invoke payment requests, thus enabling interoperability between different dApps (games, pop-up  markets, etc)

[2019-03-15 16:16] PixelantDesign commented on #77
@austintgriffith PR submitted by @iamonuwa ^

[2019-03-15 19:38] borwahs opened #116 "Wyre Integration UI/UX Improvements"
NOTE: These are being made as a nice issue (from PR #111).

- [ ] Display message if an error occurs.
- [ ] Watch for ETH transaction and display message.
- [ ] Handle device token being cleared with previous signup.
- [ ] Make Thumb button on slider bigger for mobile.
- [x] Text is oversized on mobile.
- [x] Enlarge buttons on Exchange screen.
- [x] Move slider labels down a bit.
- [x] Make Slide

[2019-03-16 09:42] dvdptr commented on #51
@austintgriffith
is this bounty still open? if so, I'd like to contribute
thanks

[2019-03-16 15:26] #116 closed

[2019-03-16 17:05] borwahs opened #119 "Wyre Dependent Improvements"
- [ ] Display message if an error occurs.
- [ ] Watch for ETH transaction and display message.
- [ ] Handle device token being cleared with previous signup.

[2019-03-18 15:16] dbe commented on #119
@borwahs Not sure if this is the ideal spot for me to do wyre bug reports, but I'll add this here for now.

I use ublock origin on Chrome, and it causes the wyre popup to be blocked. As of now, since we don't have any error messages, it's extra confusing, but even once that is added, we should see if we can get around this issue.

<img width="819" alt="Screen Shot 2019-03-18 at 9 12 10 AM" src="ht

[2019-03-19 18:21] borwahs commented on #119
@dbe // thanks! this issue is perfect as it should be the one we follow for anything related to Wyre that we are having trouble with.

I will play around with this with uBlock and see if we can find a way to show an error message in short term but also tackle it long term with Wyre.

[2019-04-02 18:22] jsappme opened #126 "Tried exchanging DAI to ETH but balance shows zeros"
I tried exchanging 1 DAI to ETH but money is lost. Both ETH and DAI balances show zero.

<img width="785" alt="Screen Shot 2019-04-02 at 12 20 58 PM" src="https://user-images.githubusercontent.com/13439477/55426343-cb169200-5541-11e9-8ff3-ada1df1ebc4f.png">

https://etherscan.io/tx/0xd6086b9eb27d019cdf61e41f121619a070341a907b592dd84d68d89c2a52c64a

<img width="360" alt="Screen Shot 2019-04-02 at 1

[2019-04-02 19:16] jsappme commented on #126
I was able to understand the issue by playing with metamask.

I think metamask is not helping with the adoption but the burner wallet does.

Good job guys.

[2019-04-02 19:51] jsappme commented on #126
I tried the same process with Brave thinking metamask might be the cause but I still experience the same issue.

https://etherscan.io/address/0xb1de0d61251d4d0ccd17979e6d795c87a4d176e1#tokentxns
https://blockscout.com/poa/dai/address/0xb1de0d61251d4d0ccd17979e6d795c87a4d176e1/transactions

<img width="806" alt="Screen Shot 2019-04-02 at 1 50 22 PM" src="https://user-images.githubusercontent.com/13

[2019-04-06 14:14] marczeller opened #128 "auto-Localization issue with xdai.io"
Xdai.io several times in different devices is booted with the new hebrew translation localisation as default. that's cool for the users using that as their primary language

but as this is not an alphabet-based language it's a rather-confusing experience for everybody else!

Issue occurred on several devices and on chrome browser.
local language of the device was Portuguese, so expected behaviour

[2019-04-09 15:37] TimDaub commented on #66
<img width="469" alt="Screen Shot 2019-04-09 at 17 36 34" src="https://user-images.githubusercontent.com/2758453/55814013-11de2c00-5aee-11e9-827f-8ee907c38a1e.png">

That's fixed, isn't it?

[2019-04-13 10:48] #128 closed

[2019-04-13 12:50] robFifth opened #138 "Opera android browser: eth value not displayed"
### In Opera browser version 51.2.2461.137690 the eth value is not displayed. Just $0.00

Whereas in chrome at the same time its displayed correctly.
But it seems not to be only a display problem: If I want the eth to be changed to dai, this is also not possible. But dai to xdai and xdai to dai is possible, then the not displayed eth are used for gas.

[2019-04-15 08:17] tomislavmamic commented on #128
I initialized a wallet today and this happened. https://nimb.ws/1qY9u5

[2019-04-15 10:17] marczeller commented on #128
@tomislavmamic may i ask what's your device current language setting and OS?

My empiric-based guess for this bug is that if the device is not setup to one of the main localization
language, (EN-ES-FR-DE-CA it'll set it to Hebrew as some "default-language".
@austintgriffith

[2019-04-15 10:30] mkosowsk commented on #128
@austintgriffith may make sense to have EN as `default-language` if @marczeller is on the right path (and I think he is 👍)

[2019-04-15 10:42] marczeller commented on #128
@mkosowsk that's the hard part then bacause the fallback is set to EN :
![image](https://user-images.githubusercontent.com/21088542/56126740-83492f00-5f73-11e9-812f-abb83ec3f597.png)

so i'm really clueless here.

[2019-04-15 10:43] mkosowsk commented on #128
@marczeller really got me scratching my head too 🤔

It must be some type of override then I guess, but where? 🤔

[2019-04-15 10:47] marczeller commented on #128
https://github.com/austintgriffith/burner-wallet/commit/1a004c92ae90876292b7f15d247d32e17730745d

that commit didn't worked 😂

[2019-04-19 10:31] dmihal commented on #4
@austintgriffith Still open to some cleanup/refactoring?

Just started digging into the code, and I'd love to do some refactoring, make the code more readable. No bounties necessary :)

[2019-04-21 10:22] morelazers opened #146 "Coinmarketcap API endpoint is deprecated"
Navigating to [one of the API endpoints used by the Burner wallet](https://api.coinmarketcap.com/v2/ticker/1027/), there's a deprecation message.

Is there a better alternative to Coinmarketcap? I see they have a free tier but it looks like you'd have to get burner devs to sign up for an API account.

Will submit a PR to use a different API if anyone knows of one.

## Roles
bounty gardener: name /

[2019-04-21 14:50] crazyrabbitLTC opened #147 "Burner Wallet does not connect on Android Opera Browser"
As a note, I'm on a Galaxy note 8, The Opera Beta Browser (the one with the crypto wallet) does not function with the burner wallet. The wallet loads, but then it never connects. Not sure if perhaps it's trying to access a web3 connection and there is a problem on which it hangs.

The burner wallet opens without problems using Chrome on the same device.

[2019-04-21 19:53] austintgriffith commented on #147
This is my fault. Some Opera guys even reached out and helped, but I have the crypto part disabled. I need to fix this asap.

[2019-04-22 15:37] tmlee commented on #146
@morelazers i suggest trying out our API offerings at https://www.coingecko.com/en/api
its public and no keys required. happy to answer any questions as well!

[2019-04-23 13:14] tomislavmamic commented on #128
This is still happening. I was with a vendor today and his wallet initiated with the Hebrew language.
It's quite urgent to solve this as we have an event happening in 2 days. Can you please resolve this?

[2019-04-23 16:33] riusricardo commented on #146
@austintgriffith we need to migrate to the new API or maybe use another one. I don't  know how long this Coinmarketcap legacy API will be online.

**"WARNING: This API is now deprecated and will be taken offline soon.  Please switch to the new CoinMarketCap API to avoid interruptions in service. (https://pro.coinmarketcap.com/migrate/)"**

[2019-04-24 08:13] TimDaub commented on #146
We changed this here already to the uniswap analytics API: https://github.com/leapdao/burner-wallet/commit/33a767b06dff86a439940adc95c183519129d1f5

If there's interest, I can send a PR with this commit.

[2019-04-24 12:22] TimDaub opened #157 "tokenSend should allow to throw errors"
Specifically talking about this function `tokenSend`: https://github.com/austintgriffith/burner-wallet/blob/master/src/App.js#L1604

It currently only returns the receipt in `cb`. There are, however, function calls in tokenSend that can throw errors. These should be thrown and handled in the functions calling tokenSend. Ideally, the "sending" view is then exited and an error is shown to the user v

[2019-04-25 21:38] austintgriffith opened #160 "Build Kudos into the Burner as a Module"
Create a Burner Module (https://medium.com/gitcoin/burner-modules-c6737cf06fe) that displays a user's Kudos (https://gitcoin.co/kudos/) in the wallet.

[2019-04-29 16:12] TimDaub commented on #160
This npm package could be interesting for you: https://github.com/vrde/erc721-balance
Already integrated it with #164

[2019-04-29 22:55] Sesamestrong commented on #51
I wrote a script to generate QR code-themed flames. Does it work?

![fire](https://user-images.githubusercontent.com/26335275/56932063-47a08000-6ab0-11e9-811e-09991bc2a33d.gif)

[2019-05-06 14:54] austintgriffith commented on #160
Awesome Thanks!!

[2019-05-07 08:14] TimDaub opened #170 "Improve UX around private key safety in incognito mode"
Inspiration is this conversation on twitter: https://twitter.com/TimDaub/status/1125482046359527424

Problem:

When a user opens the burner-wallet in incognito mode, they run a high risk of losing their funds. Even though the burner-wallet shows that the user is in incognito mode, it may not be clear to the user what that means. In a sense they need to know the following:

- The burner-wallet stor

[2019-05-07 09:06] mkosowsk commented on #170
Hmm this is an interesting problem for sure 🤔

@austintgriffith you have a moment to lend your guidance here at your earliest convenience?

Thanks! ☺️

[2019-05-07 14:09] austintgriffith commented on #170
I will code something up and we can deploy it and play around with it.
My thoughts are, if they are in incog, they receive value, and they aren't using a seed phrase... we can give them a big ugly message.

[2019-05-07 14:48] mkosowsk commented on #170
@austintgriffith that makes sense to me, perhaps a big modal that blocks the screen? 🤔

If you code something up, I may pull down that named branch and play around with styling if you don't mind...

I need to get my name on the `2019's Hottest Project in Repo ™` 🔥🔥🔥

[2019-05-08 11:22] TimDaub opened #177 "Integrate bity.com crypto to fiat off-ramp"
I'd like to use the burner-wallet like I use paypal.com with my friends. Sometimes someone is desperately in need of cash but only has crypto or money on their bank account. Hence I'd like to send them crypto. They offramp into fiat directly to their bank account and I get cash handed from them.

I investigated this a bit and found an API that allows to off-ramp 5000€ yearly in Europe with no KYC

[2019-05-08 14:00] TimDaub opened #179 "wyre.xdai.io widget is broken"
## Scope and Deliverables

I get this error when I click the "Buy $5" button in Exchange.js on wyre.xdai.io

[code]

Edit: Update 4.06.2019: Still a problem on wyre.xdai.io.

## Roles
bounty gardener: @TimDaub / 10%
bounty worker: name / 75%
bounty reviewer: name / 15%

[2019-05-08 15:51] TimDaub commented on #177
I'd be happy to collect opinions from people that have a better understanding of the legality of this. Personally I find it quite awesome though that no KYC is required. @mkosowsk do you have a recommendation to whom I could speak to? Alternatively to commenting here you can send me a DM on Twitter: https://twitter.com/TimDaub

[2019-05-13 09:23] PeterTheOne opened #183 "How to build it with dapparatus?"
[code]
Do I need to build dapparatus beforehand?

[2019-05-13 22:17] iamonuwa commented on #160
@austintgriffith which branch do I need to checkout from, I can't find the YourModule component

[2019-05-14 13:37] PeterTheOne commented on #183
Ok, seems to only be a problem when I directly use the github repository as a dependency and not the npm pacakge..

[2019-05-17 10:51] TimDaub opened #187 "Request funds shows NaN time"
See this PR for fix

https://github.com/austintgriffith/burner-wallet/pull/158

[2019-06-04 08:01] TimDaub opened #198 "Do not lower Uniswap output by 3.33%"
## Scope

Problematic src code: https://github.com/austintgriffith/burner-wallet/blob/master/src/components/Exchange.js#L1670

From my limited knowledge, the return values of the following Uniswap functions:

- getEthToTokenOutputPrice
- getEthToTokenInputPrice
- getTokenToEthOutputPrice
- getEthToTokenInputPrice

do not need to be adjusted and can instead be sent directly to the contract. Fixing

[2019-06-04 08:11] TimDaub opened #199 "Investigate and potentially integrate an automatic "size regression tracker""
## Scope
- In the process of reducing the burner-wallet's footprint, @jondavidjohn appeared out of nowhere and suggested we try his tool https://packtracker.io that analyzes webpack bundles for size regressions, and reports them directly to GitHub PRs: https://github.com/austintgriffith/burner-wallet/pull/193#issuecomment-497776253
- https://packtracker.io is free for open source projects
- There

[2019-06-04 08:39] TimDaub opened #200 "Do not force page reload when scanning qr codes"
## Scope
- When using the SendByScan.js module, the burner-wallet reloads the whole page when
  - scanning a private key (WithdrawFromPrivate.js)
  - scanning a public key (SendToAddress.js)
  - scanning a request (Request.js)
  - [other modules]
- Often, this is not necessary but can cause frustration to the user

## Deliverables
- burner-wallet that doesn't reload on scanning the above mentioned

[2019-06-04 08:50] TimDaub commented on #183
Exactly. The dapparatus github repository doesn't come with a build included. Then npm package should come with one. Closing this. Feel free to reopen if the issue persists.

[2019-06-04 08:50] #183 closed

[2019-06-04 08:53] TimDaub commented on #147
Wondering if #138 is connected (duplicate?) 🤔.

[2019-06-04 09:02] TimDaub commented on #146
This has become a problem again. At the moment dai.io is not showing ETH balances as they become NaN with coinmarketcap blocking our xdai.io's request.

[2019-06-04 09:03] TimDaub commented on #126
Hi @jsappme,

I tracked a bunch of your txs onchain:

### First example you provided
- You approve Uniswap to transfer DAI out of your account: https://etherscan.io/tx/0xd6086b9eb27d019cdf61e41f121619a070341a907b592dd84d68d89c2a52c64a
- You make a successful swap on Uniswap: https://etherscan.io/tx/0xf50b0d3b8781532f221bc4f53bd0f443c64d1610fd5790f17fc50ee3d482cad8 You send 1 DAI and receive 0.0062

[2019-06-04 10:03] TimDaub opened #201 "Make all buttons the optimal size for touch screen users"
## Scope
- There's HCI research indicating that there's an optimal button size for touch screen applications. Just google it.
- The burner-wallet currently has some buttons (only a few) that currently do not conform to this research. A few examples:
<img width="644" alt="Screen Shot 2019-06-04 at 11 59 51" src="https://user-images.githubusercontent.com/2758453/58870320-4d494100-86c0-11e9-9bae-0087

[2019-06-04 10:04] TimDaub commented on #110
Hi @winfred, thanks for your input!

I thought about this idea for a while. My personal opinion is that I think there's more mental overhead for the user in understanding that e.g. leaving the address field in a Send action blank will spawn the Link functionality. Same goes for Request and Receive. I'm especially concerned for users that are new to crypto, as I don't think they'll be able to make

[2019-06-04 10:12] TimDaub commented on #104
Hi @ricburton, to reproduce and fix this, it'd be good to know the command that lead to this stack trace.

[2019-06-04 10:13] TimDaub commented on #102
Hi @GriffGreen, this feature exists (now). Click the buttons with the arrows pointing to the "right".

<img width="754" alt="Screen Shot 2019-06-04 at 12 13 10" src="https://user-images.githubusercontent.com/2758453/58871375-225fec80-86c2-11e9-98dd-a5a301374532.png">

[2019-06-04 10:13] #102 closed

[2019-06-04 10:18] TimDaub commented on #93
Hi @vbaranov, thanks for reporting. Would you mind sharing with us an extension that has this problem, so that we can reproduce and test. Thanks!

@austintgriffith: This is an issue of dapparatus. Would you mind transferring this issue there. GitHub has a feature for that:

<img width="221" alt="Screen Shot 2019-06-04 at 12 17 53" src="https://user-images.githubusercontent.com/2758453/58871693-ce0

[2019-06-04 10:20] TimDaub commented on #87
PR #86 was merged. Can someone familiar with the situation comment on whether this issue can hence be closed. Thanks!

[2019-06-04 10:22] TimDaub commented on #77
Closing this. Feel free to reopen if still relevant.

[2019-06-04 10:22] #77 closed

[2019-06-04 10:23] TimDaub commented on #72
Closing this. Feel free to reopen.

[2019-06-04 10:23] #72 closed

[2019-06-04 10:27] TimDaub opened #202 "Add Contributors.md"
## Scope
- The repo currently has a contribution guide in README.md: https://github.com/austintgriffith/burner-wallet#contributing-as-a-developerdesigner

## Deliverables
- Copy+paste README.md part to Contributors.md and link to it from README.md
- Do a bit of copywriting on it. Outline the vision, roadmap, etc.

## Gains for the project

- New contributors have a streamlined way of on-boarding.

[2019-06-04 10:32] TimDaub commented on #70
I created separate issues for this list. We'll add them to sprints eventually. Thanks for your input!

#202

There's currently two design documents, that propose solutions to this:

- https://docs.google.com/document/d/1GtS_NxhxSt9XVTphp4fWRvjeQjIVT8WbYsqpKAlWbfE
- https://github.com/leapdao/burner-wallet/issues/109

Feedback welcome :)

IMO this is not too big of an issue at this point. Bigger fi

[2019-06-04 10:32] #70 closed

[2019-06-04 10:34] TimDaub commented on #69
Yes, but not for all functionality. E.g. Uniswapping DAI/ETH won't work on your local net unless you deploy the Uniswap contracts. You can follow the instructions on how to setup the burner-wallet locally here: https://github.com/austintgriffith/burner-wallet#contributing-as-a-developerdesigner

[2019-06-04 10:34] #69 closed

[2019-06-04 10:34] #66 closed

[2019-06-04 10:36] TimDaub commented on #61
Hi @PeterTheOne, thanks for your input.

To make this issue actionable, what exact functionality do you recommend to be replaced?

[2019-06-04 10:38] TimDaub commented on #58
https://github.com/austintgriffith/burner-wallet/pull/107#issuecomment-477647383 Close.

[2019-06-04 10:38] #58 closed

[2019-06-04 10:43] TimDaub commented on #20
This issue and #170 address the same problem and should be combined.

[2019-06-04 12:37] #36 closed

[2019-06-04 13:53] alex-forshtat-tbk commented on #87
Right, the Burner Wallet has been running with Gas Station Network for some time now. Closing the issue.

[2019-06-04 13:53] #87 closed

[2019-06-04 15:19] TimDaub opened #203 "Continuous deployment for xdai.io"
## Scope
- Currently the burner wallet relies on @austintgriffith to be deployed to e.g. xdai.io.
- As we'd like to ship to production as often as possible, having continuous integration would be nice.
- The LeapDAO team has already done this with their burner, so we could just copy what they're doing: https://github.com/leapdao/burner-wallet/pull/144
- Note that we might not want to deploy everyt

[2019-06-04 15:28] TimDaub opened #204 "Finish rimble-ui integration"
## Scope
- The [rim branch](https://github.com/austintgriffith/burner-wallet/tree/rim) of the burner-wallet is actually quite awesome. It relies on Consensys' rimble-ui and allows users to whitelabel the burner-wallet simply by editing a [theme.js](https://github.com/austintgriffith/burner-wallet/blob/rim/src/theme.js) file
- The rim branch is almost ready to be merged into master, but still has a

[2019-06-04 15:33] TimDaub opened #205 "Update and remove vulnerable packages. Introduce process to increase security"
## Scope
- Right now, all dependencies are defined with a caret in `package.json`. [This is dangerous, as malicious patch versions already lead to Bitcoins being stolen in other projects](https://thehackernews.com/2018/11/nodejs-event-stream-module.html)!
- https://greenkeeper.io/ is a SaaS that informs contributors automatically when a new version of a package is available. It's then their decisi

[2019-06-04 15:51] TimDaub opened #206 "Introduce a config file"
## Scope
- Right now the burner-wallet is configured in App.js. Variables are overwritten based on the location of the browser.
- LeapDAO has proposed a config.js file in their burner fork that could easily be used to make the project more configurable: https://github.com/leapdao/burner-wallet/pull/134
- @dmihal also proposed a nice way to handle configuration: https://github.com/austintgriffith/b

[2019-06-04 15:59] TimDaub opened #207 "Update README.md to reflect latest developments"
## Scope
- All changes in regards to the Burner Collective should be reflected in the README.md of this repo
- Who are we? How do we work? What's our vision? How can I contribute, etc.
- How can I install the burner-wallet
- Badges, we need badges!
- Point to long term plans .e.g. @dmihal's refactoring proposal
- [There's more. You'll figure it out!]

## Deliverables
- An updated README.md coverin

[2019-06-04 16:01] TimDaub commented on #202
Actually, I decided to add this to the scope of #207.

[2019-06-04 16:01] #202 closed

[2019-06-04 18:43] dmihal opened #208 "Create well-defined git flow"
## Scope
Currently, most work is done on feature branches, then merged into master. This leaves leaves the master branch vulnerable to instability.

## Deliverables
- Create and organize main branches (master, staging, develop, etc)
- Markdown document within this repo or in [the wiki](https://github.com/austintgriffith/burner-wallet/wiki) that defines the main branches, when they should be merged

[2019-06-04 18:51] dmihal opened #209 "Minimal integration of burner-core into burner-wallet"
## Scope
- Multiple proposals have been created ([1](https://github.com/leapdao/burner-wallet/issues/109), [2](https://docs.google.com/document/d/1GtS_NxhxSt9XVTphp4fWRvjeQjIVT8WbYsqpKAlWbfE/edit#heading=h.h1983kmo6k64)) calling for the creation of a burner-core project to handle the core chain/networking infrastructure, leaving the burner-wallet repo to handle the user interface
- A new repositor

[2019-06-04 18:58] dmihal opened #210 "Handle "sends" with burner-core"
# Bounty
-

## Scope
- #209 will integrate the burner-core into the project for simple reads

## Deliverables
- Delegate all coin/token sends to the burner-wallet code

## Roles
bounty gardener: David Mihal / 10%
bounty worker: name / 50%
bounty reviewer: name / 30%

[2019-06-04 19:39] dmihal commented on #203
This is related to #208, regarding which branch is used for what.

My suggestion would be master is for production, and we have staging and develop as well with their own deployments as well.

I'd also suggest each PR gets an automatic "review app" deployed, assuming there's funding for that many instances.

[2019-06-05 07:45] dmihal opened #212 "Document all "special" URLs"
# Bounty
-

## Scope
- The existing Burner Wallet uses a number of special URL schemes for taking users directly to certain features, such as loading a private key or loading a recipient address.
- However, these URL patterns are not documented and are implemented in confusing sections of code

## Deliverables
- A document, either in the repo or in the Wiki, outlining the specification for all sta

[2019-06-05 07:47] dmihal opened #213 "Handle key-managment with burner-core"
# Bounty
-

## Scope
- #209 will integrate the burner-core into the project for simple reads
- The burner-core contains modules for generating, storing and sigining with local, private keys

## Deliverables
- Delegate all key handling to the burner-core, specifically the LocalSigner module

## Roles
bounty gardener: David Mihal / 10%
bounty worker: David Mihal / 50%
bounty reviewer: name / 30%

[2019-06-05 11:12] #187 closed

[2019-06-05 12:05] TimDaub opened #215 "Extract react-router-dom functionality from PR"
## Scope
- @dmihal has added react-router-dom support in this PR #194
- It's however entangled with other functionality currently, namely adding a TransactionStore and a config.js
- Given that we're now working according to a specification outlined by @dmihal [here](https://docs.google.com/document/d/1GtS_NxhxSt9XVTphp4fWRvjeQjIVT8WbYsqpKAlWbfE/edit), which parts of the added functionality we want

[2019-06-05 12:50] TimDaub opened #216 "Add package-lock.json and yarn.lock"
## Scope
- burner-wallet and potentially other components like dapparatus currently do not include package-lock.json or yarn.lock
- These files are supposed to be committed however as they provide integrity when installing dependencies

## Deliverables
- Add yarn.lock and package-lock.json in all components used by the burner-wallet.

## Roles
bounty gardener: @TimDaub / 15%
bounty worker: name /

[2019-06-05 14:17] TimDaub opened #217 "Create a proposal on how we can store a private key more securely in localStorage"
## Scope
- Currently burner-wallet's private keys are stored unencrypted in local storage
- In its current form, this doesn't pose too much of a risk for users as we're enforcing strict reviews to ensure that these keys are not being stolen.
- Our goal with the burner-wallet is eventually however to make it a platform for dapps and as such we'll have to import code into the burner-wallet that is n

[2019-06-05 14:44] TimDaub opened #218 "Improve burner-wallet development by using test or local networks"
## Scope
- Currently the burner-wallet is using clevis, ganache-cli and `startLocalRelay.sh` to orchestrate a local network for developers.
- This poses some problems, namely:
  - the xDai network is not simulated. Instead ganache-cli is used and ETH is sent around. Not xdai
  - Uniswap contracts are not deployed to the local network so Exchange.js won't work fully (ETH/DAI)
  - DAI/xDai won't wor

[2019-06-05 14:58] TimDaub commented on #177
This is now a proposed issue for Sprint 1:

## Scope

- Bity allows a user to off-ramp ETH <=> 5000 CHF annually. It only requires authentication through
- Bity only works in the EU at this point. Make this sufficiently clear to the user.
- Use bity's API to off-ramp a user's eth as outlined in their documentation: https://doc.bity.com/backend/v2.html#place-an-order
- Make off-ramping super easy f

[2019-06-05 15:00] TimDaub commented on #146
This is now a proposed issue for [Sprint 1](https://github.com/austintgriffith/burner-wallet/milestone/1):

Scope and Deliverables: Comments above

## Roles
bounty gardener: @TimDaub / 10%
bounty worker: name / 75%
bounty reviewer: name / 15%

[2019-06-05 17:01] lebed2045 commented on #217
I thought quite a lot about that, one idea is the is to use one-time passwords (as a deterministic sequence of some unique long user id) from the server, and keep rotating and re-encrypting times to time. Even is localStorage gets compromised it's worthless without the password, an attacker won't able to get it, no degrading of UX because of the user doesn't type it either. The problem is npm atta

[2019-06-07 05:47] tmlee commented on #146
@TimDaub wonder if you have had the chance to poke at the CoinGecko API to see if it resolves your pricing issue? ETH price can be pulled directly using https://api.coingecko.com/api/v3/simple/price?ids=ethereum&vs_currencies=usd

[2019-06-07 10:43] mkosowsk commented on #146
Interesting issue and I'm also interested in how the first sprint turns out @TimDaub!

I may hop into some issues here and there, I've got some engineering cycles at the moment (want to finish a Gitcoin PR first tho)

[2019-06-07 12:11] TimDaub opened #219 "Use estimateGas for gasLimit instead of arbitrary value"
## Scope
- Currently when sending a transaction from a metaAccount, we simply take an arbitrary gasLimit value e.g. 200000
- Often these transactions use way less gas
- web3 implements a method on its `Contract` methods interface that is `estimateGas`
- This runs a gasLimit simulation locally and returns a gasLimit that fairly accurately predicts how much gas will actually be spent

## Deliverable

[2019-06-07 14:00] dmihal commented on #209
Completed in #211 🚀

[2019-06-07 14:00] #209 closed

[2019-06-07 15:48] riusricardo commented on #219
@TimDaub Before creating this bounties, you need to take into account some previous limitations that we encountered on this.
1) xDai returns a bad estimation if it doesn't has a lot of transactions on the previous blocks. #105 [#9795](https://github.com/paritytech/parity-ethereum/issues/9795)
2) Metamask didn't accept this call on its web3 API.
This is why it remained hard-coded. However it should

[2019-06-07 16:29] riusricardo opened #220 "Support for Light Clients"
## Scope
- This could be a long term goal because it requires a lot of changes in the polling method and on the core components of the burner.
- xDai runs over a Parity Ethereum side-chain. The [light.js](https://github.com/paritytech/js-libs/tree/master/packages/light.js) library  is 100% compatible with the xDai chain.
- Parity [Fether](https://github.com/paritytech/fether) could become a starti

[2019-06-07 17:04] riusricardo opened #221 "Add Token Meta Transactions"
## Scope
- Tokens ERC-20 and ERC-721 can't transfer unless the required gas for the transaction is payed by the sender.
- In order to use this functionality, the tokens need to have a glue layer to enable the usage of the gas station.
- The actual limitation is that the Meta transactions are signed by the sender, in this case the relay. To accept this limitation, the tokens need to use a special f

[2019-06-13 16:28] johannbarbie commented on #101
this will be handled burner-core, hence removing from sprint 1

[2019-06-13 16:38] johannbarbie opened #228 "create continuous integration"
## Scope
- have a commit hook that runs tests
- have a commit hook that runs linter

## Deliverables
- working `.yml` file
- ???

## Roles
bounty gardener: name / 10% - 30%
bounty worker: name / 50% - 80%
bounty reviewer: name / 10% - 30%

[2019-06-13 16:45] troggy commented on #228
dibs :)

[2019-06-13 17:07] johannbarbie commented on #216
*by pedro:*
You shouldnt include both lock files
You should use one or the other
Otherwise you dont have integrity between people developing with yarn and npm
Unless you include a pre-push script to update both for consistency
And even then they wouldnt always result the same

[2019-06-13 17:12] johannbarbie commented on #228
@troggy for gardener and worker? :)
the issue is missing some details, and a proper allocation of shares.

[2019-06-13 17:14] troggy commented on #228
worker :) Done similar thing in our repo already

[2019-06-13 19:17] dmihal commented on #216
Agreed, in todays call we seemed to agree to use Yarn and yarn.lock.

[2019-06-13 19:21] dmihal commented on #146
The burner-core already uses it's own price feed, so I believe this switch will be part of the burner-core integrations.

The relevant part of the code is here:
https://github.com/austintgriffith/burner-core/blob/develop/assets/src/pricefeed.js

Currently it uses the CryptoCompare API, but I'd be happy to change to a different API if people think it would be better.

[2019-06-15 19:51] MaxStalker commented on #204
Hey @TimDaub I would like to tackle this one ;)

[2019-06-15 22:38] kashaiahyah85 commented on #216
The npm package-lock.json should never be committed; the yarn.lock is meant to be. If you use yarn; it's best to alter the package.json to include a requirement for it. Either both must go, or make the good call to hop on to Yarn all the way.

[2019-06-18 15:51] Kyrrui commented on #210
I will look into this one! Just a Q on the deliverable you meant to put "Delegate all coin/token send to the burner-core code" instead of burner-wallet code correct?

[2019-06-19 15:17] austintgriffith commented on #179
We should get this patched up and deploy it to production.

Some context:
https://docs.sendwyre.com/docs/hosted-widget
https://blog.sendwyre.com/wyre-release-notes-7193718fed72

[2019-06-19 15:33] austintgriffith commented on #146
I think we decided to ignore this issue because we will be replacing it in the code with the burner-core module right?

[2019-06-19 15:37] austintgriffith commented on #212
I will take this one on.

I think we need to clean up the readme, speak more to the collective, and do a bow tie friday that explains how to contribute.

TODO! Will do!

[2019-06-19 21:03] dmihal opened #232 "Disable or hide the Metamask popoup"
Small little bug, but the metamask popup is pretty annoying when DevTools is open.
![image](https://user-images.githubusercontent.com/1661138/59800262-06716300-92de-11e9-94fc-d4f802f279b9.png)

[2019-06-19 21:31] austintgriffith commented on #232
so that is only present when your metamask is pointed to something that is not localhost or dai.poa.network

it is really meant to be annoying because there were a few times I sent mainnet eth on accident hahaha

if it isn't acting the way it should let's figure it out.

[2019-06-20 16:08] austintgriffith opened #234 "Create a Burner Wallet Web3 Provider for Web3connect"
# Bounty

There is a new and growing web3connect login library in the works:
https://github.com/web3connect/web3connect
It is an npm package that allows developers to choose from many different web3 login options like MetaMask, Portis, Fortmatic, etc.

It would be great if we could also give the user the option to generate a burner in localstorage and use it as their web3 provider. So they would h

[2019-07-04 08:18] #146 closed

[2019-07-04 08:23] TimDaub commented on #207
Closing as @austintgriffith updated the readme.

[2019-07-04 08:23] #207 closed

[2019-07-08 12:08] vbaranov commented on #93
@TimDaub sorry for the delay, Nifty wallet doesn't implement EIP-1102 yet https://github.com/poanetwork/nifty-wallet.

[2019-07-08 15:32] djudjuu commented on #228
Hey, so i tried this in my own fork (authorizing travis.ci requires repo ownership), but when building the project in the travis VM, there are a bunch of errors that I dont understand but maybe they mean something to you: https://travis-ci.com/djudjuu/burner-wallet/builds/118305462

Also, can you confirm these other assumptions of mine?
- the test to be run is "clevis test full" (or maybe just the

[2019-07-26 20:53] crisgarner opened #239 "Retrieve xdai locked on the link contract"
Sometimes users refresh by mistake the link screen and that money is lost (for them). There should be a way to retrieve locked xdai.

[2019-07-29 06:30] SustainabilityChain opened #240 "send with link for large numbers failing"
when sending a large amount with link (20'000 native) the following error appears:
Error: [number-to-bn] while converting number 2e+22 to BN.js instance, error: invalid number value. Value must be an integer, hex string , BN or BigNumber instance. Note, decimals are not supported

src/app.js:1684

# Bounty
-

## Scope
-
-
-

## Deliverables
-
-

## Roles
bounty gardener: name / 10% - 30%
bounty wo

[2019-08-13 15:31] skywinder opened #244 "Incorrect incognito detection"
# Bounty

## Scope

- Incorrect incognito detection:
- After several minutes (3-7) burner wallet changes from normal mode to incognito mode. Actually, it is not incognito.

### Steps to reproduce:
Open Firefox in normal mode
1. go to xdai.io
1.  wait for 5-10 minutes.
1. Burner shows,  that you are in incognito mode.

**- OS: iOS 12 / iPhone XR**
**- Browser: Firefox 18.1**

## Deliverables
- We h

[2019-08-19 06:13] Sesamestrong commented on #51
I'm happy to provide a real, nicely clipped form of the GIF with any QR code you'd like if you're interested. By the way, @austintgriffith, are you still interested?

[2019-08-29 06:22] lastmjs opened #246 "Add Ethereum address to FUNDING.yml"
I'd like to see an Ethereum address added to the `custom` property of the `FUNDING.yml` file. This would allow a canonical address to send funds to. For example, I'm building a project that allows developers to setup one recurring donation that is split between all of their dependencies with an Ethereum address: https://sustainus.io

[2019-09-17 10:06] riusricardo opened #247 "Upgrade contracts to GSN network"
From a GSN network team member.

It is a good time to upgrade contracts and add Token compatibility to the burner wallet. I'll close the PR #184 to create a better option and use OpenZeppelin's GSN code.

[2019-09-17 14:28] austintgriffith commented on #247
Fantastic. Let me know how I can help.

[2019-09-19 13:42] 6proof commented on #247
looking forward to testing  and contributing!

[2019-09-25 06:52] iamonuwa commented on #234
@austintgriffith can I jump on this one? Am very much interested in it

[2019-11-30 22:13] jooray commented on #206
I would totally love some configuration options, allowing to configure network node, symbols, token names and turning some features on/off based on a particular need of a particular pop-up economy.

Alternatively, a documentation on how to do this would be great. Not only changing constants in App.js, but turning on/off some particular features (some pop-up economies will not have a prediction mar

[2019-12-01 15:55] jooray opened #251 "Using many deprecated dependencies"
Using node v12.12.0 and doing fresh install, burner-wallet is using many deprecated packages.

[code]

[2019-12-01 16:07] jooray opened #252 "scrypt dependency fails on node v12.12.0"
When running ```npm install``` on node ```v12.12.0``` macos, the install fails due to requiring deprecated scrypt package.

[code]

It is a known issue:
https://github.com/barrysteyn/node-scrypt/issues/192

It will not be fixed upstream, because the package is no longer maintained:

[code]

We need to get rid of the dependency in order for burner wallet to work on recent systems.

[2019-12-05 03:15] Sesamestrong commented on #51
@austintgriffith Are you still looking for a solution?

[2020-02-08 20:46] ice09 opened #254 "DAI doesn't show in BurnerWallet"
I transferred 0.1 xDai to DAI which worked as I can see in etherscan on the Mainnet. However, in BW I cannot see any DAI balance.

https://blockscout.com/poa/xdai/tx/0xb3ae94a7942492e5025f9344f0c36c332bf232858e7e248ee60baab5bb8dc48d

[2020-08-21 16:59] GriffGreen opened #256 "xDAI.io stuck when trying to convert Dai to xDai"
Love the bounty idea... but I am just reporting the error... maybe someone else can make the bounty.

It gets stuck on "Calculating gas"

![Screen Shot 2020-08-21 at 6 55 34 PM](https://user-images.githubusercontent.com/14945613/90915747-536c3000-e3e0-11ea-877f-00dd38e7fa6b.png)

[2020-10-24 21:07] #103 closed

[2020-12-31 14:25] darcher-framework opened #257 "Transactions that are removed from blockchain are still shown in the DApp"
## Description
Transactions can be removed from blockchain due to chain reorganization.
However, burner-wallet does not remove them from the history inside DApp.
When a transaction is removed, its record still shows in the UI.

This bug affects various functionalities including `Send` and `Link`.

## Reproduce Steps
One reproduce example is given below.
1. send a certain amount of ETH using burner

[2021-03-30 20:54] #110 closed

[2021-11-10 16:14] Robinsonwealth opened #260 "Robinsonwealth"